Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lint-web-ui:
  run: cd web-ui && npm run lint

lint-control-plane:
  run: cd control-plane && golangci-lint run --fix

lint-pipeline-agent:
  run: cd pipeline-agent && golangci-lint run --fix

lint-pipeline-core:
  run: cd pipeline-core && golangci-lint run --fix

feat(web-ui): make target DataType required for all pipelines
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

feat(control-plane): auto-manage Kafka topics for parent-child pipelines
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/services/kafka_service.go
Due: lint-control-plane

fix(web-ui): send pipelines as array instead of JSON string
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui

feat(web-ui): add Stage Editor with drag & drop and YAML editing
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/App.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.css
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/types/pipeline.ts
Due: lint-web-ui

feat(web-ui): add new stage types for data transformation
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/types/pipeline.ts
Due: lint-web-ui

feat(web-ui): add dedupe, default, cast, timestamp stage types
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/types/pipeline.ts
Due: lint-web-ui

feat(web-ui): add rate limiter support for source and stage levels
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/types/pipeline.ts
Due: lint-web-ui

feat(api): implement structured error code system with request tracking
  control-plane/internal/api/handlers/auth.go
  control-plane/internal/api/handlers/datatype_handler.go
  control-plane/internal/api/handlers/graph_handler.go
  control-plane/internal/api/handlers/pipeline.go
  control-plane/internal/api/handlers/project.go
  control-plane/internal/api/handlers/provisioning.go
  control-plane/internal/api/handlers/schedule_handler.go
  control-plane/internal/api/handlers/stats_handler.go
  control-plane/internal/api/handlers/users.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/middleware/auth.go
  control-plane/internal/api/middleware/auth_test.go
  shared/types/api.go
Due: lint-control-plane

feat(web-ui): add default stages for pipeline types
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/types/pipeline.ts
  web-ui/src/utils/defaultStages.ts
Due: lint-web-ui

feat(web-ui): add Source Editor page for pipeline source configuration
  web-ui/src/App.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

fix(web-ui): filter source types by workflow type
  web-ui/src/pages/SourceEditor.tsx
Due: lint-web-ui

fix(web-ui): move sql_event source type to realtime pipelines
  web-ui/src/pages/SourceEditor.tsx
Due: lint-web-ui

feat(web-ui): auto-set realtime mode based on source type
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/SourceEditor.tsx
Due: lint-web-ui

feat(web-ui): add REST API to realtime source types
  web-ui/src/pages/SourceEditor.tsx
Due: lint-web-ui

refactor(web-ui): rename labels and fix routing issues
  web-ui/src/App.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

feat: add dynamic OAuth2 provider configuration
  .env.example
  config/oauth_providers.yaml
  control-plane/cmd/server/main.go
  control-plane/internal/api/handlers/auth.go
  control-plane/internal/api/routes.go
  control-plane/pkg/config/jsonpath.go
  control-plane/pkg/config/oauth.go
  shared/types/user.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Login.tsx
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/types/pipeline.ts
Due: lint-web-ui, lint-control-plane

fix: allow reusing names of soft-deleted records
  control-plane/pkg/database/migrations/000003_fix_soft_delete_unique.down.sql
  control-plane/pkg/database/migrations/000003_fix_soft_delete_unique.up.sql
Due: none

feat(helm): add external database support and GHCR images
  deploy/docker/Dockerfile.control-plane
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/control-plane-deployment.yaml
  deploy/helm/conduix/values.yaml
  pipeline-agent/api/handlers.go
Due: lint-pipeline-agent

feat(argocd): add ArgoCD Application manifests
  deploy/argocd/README.md
  deploy/argocd/application-external-db.yaml
  deploy/argocd/application.yaml
Due: none

feat(helm): add ConfigMap-based env injection for ArgoCD
  deploy/argocd/README.md
  deploy/argocd/application-external-db.yaml
  deploy/argocd/application.yaml
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/templates/control-plane-deployment.yaml
  deploy/helm/conduix/templates/secrets.yaml
  deploy/helm/conduix/templates/web-ui-deployment.yaml
  deploy/helm/conduix/values.yaml
Due: none

feat(helm): add CONDUIX_ADMIN_EMAILS env for admin user config
  deploy/argocd/README.md
  deploy/argocd/application-local.yaml
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/values.yaml
Due: none

feat(pipeline): add SQL Sink and public API batch pipeline
  control-plane/pkg/database/migrations/000004_add_public_data_tables.down.sql
  control-plane/pkg/database/migrations/000004_add_public_data_tables.up.sql
  deploy/argocd/application-local.yaml
  pipeline-core/configs/v2/batch-asan-parking.yaml
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/sink/sink.go
  pipeline-core/pkg/sink/sql.go
  pipeline-core/pkg/source/http.go
Due: lint-pipeline-core

chore: update pipeline-agent dependencies
  pipeline-agent/go.mod
  pipeline-agent/go.sum
Due: none

feat: implement workflow execution and update branding assets
  README.ko.md
  README.md
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/redis_service.go
  deploy/argocd/application-local.yaml
  images/favicon-16.ico
  images/favicon-24.ico
  images/favicon-32.ico
  images/favicon-48.ico
  images/favicon-64.ico
  images/logo-nobg-mini.png
  images/logo-nobg.png
  images/logo-title-nobg.png
  pipeline-agent/internal/agent/agent.go
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/sink/sql.go
  web-ui/index.html
  web-ui/public/favicon-16.ico
  web-ui/public/favicon-24.ico
  web-ui/public/favicon-32.ico
  web-ui/public/favicon-48.ico
  web-ui/public/favicon-64.ico
  web-ui/public/logo-title-nobg.png
  web-ui/src/pages/Login.tsx
Due: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

fix: update workflow status after execution completes
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/routes.go
  pipeline-agent/internal/agent/agent.go
Due: lint-control-plane, lint-pipeline-agent

fix: show idle status for pipelines without run history
  control-plane/internal/api/handlers/pipeline.go
Due: lint-control-plane

feat(web-ui): add workflow start/stop functionality
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

feat(web-ui): add workflow execution history tab
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui

fix(executor): aggregate error messages from pipeline results
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

feat(web-ui): improve login and sidebar UI
  .gitignore
  deploy/helm/conduix/Chart.lock
  deploy/helm/conduix/charts/.gitignore
  deploy/helm/conduix/charts/mysql-9.23.0.tgz
  deploy/helm/conduix/charts/redis-18.19.4.tgz
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/pages/Login.tsx
Due: lint-web-ui

fix: cleanup orphaned running executions before starting new workflow
  control-plane/internal/api/handlers/workflow.go
Due: lint-control-plane

fix(pipeline-core): support UI pagination types in HTTP source
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/http.go
Due: lint-pipeline-core

feat: add workflow execution tracking and concurrency control
  control-plane/internal/api/handlers/workflow.go
  pipeline-agent/internal/agent/agent.go
  shared/types/agent.go
Due: lint-control-plane, lint-pipeline-agent

feat: add Data Model schema management UI and various improvements
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/routes.go
  control-plane/pkg/models/models.go
  control-plane/server
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/control-plane-deployment.yaml
  deploy/helm/conduix/templates/web-ui-deployment.yaml
  package-lock.json
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/pkg/executor/config_helper.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/validator/schema.go
  shared/types/data_type.go
  shared/types/hierarchy.go
  web-ui/src/App.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/components/SchemaEditor/SchemaEditor.tsx
  web-ui/src/components/SchemaEditor/VisualFieldBuilder.tsx
  web-ui/src/components/SchemaEditor/index.ts
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Dashboard.tsx
  web-ui/src/pages/DataModelDetail.tsx
  web-ui/src/pages/DataModels.tsx
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/pages/Workflows.tsx
  web-ui/src/services/api.ts
  web-ui/src/types/pipeline.ts
Due: lint-web-ui, lint-control-plane, lint-pipeline-core

feat(web-ui): add schema generation from sample JSON data
  web-ui/src/components/SchemaEditor/SchemaEditor.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
Due: lint-web-ui

fix(helm): correct revisionHistoryLimit field name
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/control-plane-deployment.yaml
  deploy/helm/conduix/templates/web-ui-deployment.yaml
Due: none

feat(web-ui): add Agent management page with resource monitoring
  control-plane/internal/api/handlers/agent.go
  control-plane/internal/api/routes.go
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Agents.tsx
Due: lint-web-ui, lint-control-plane

feat: Redis-based agent management instead of DB
  control-plane/internal/api/handlers/agent.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/redis_service.go
  pipeline-agent/internal/agent/agent.go
  shared/redis/resilient_client.go
  shared/types/agent.go
Due: lint-control-plane, lint-pipeline-agent

feat(web-ui): improve SQL Output Stage configuration UI
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
Due: lint-web-ui

chore(helm): change service type to LoadBalancer for local dev
  deploy/helm/conduix/values.yaml
Due: none

Path conditions:
  lint-web-ui: any of: web-ui/**/*.{ts,tsx}
  lint-control-plane: any of: control-plane/**/*.go
  lint-pipeline-agent: any of: pipeline-agent/**/*.go
  lint-pipeline-core: any of: pipeline-core/**/*.go
