Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-web-ui:
      glob: "web-ui/**/*.{ts,tsx}"
      run: cd web-ui && npm run lint
    lint-control-plane:
      glob: "control-plane/**/*.go"
      run: cd control-plane && golangci-lint run --fix
    lint-pipeline-agent:
      glob: "pipeline-agent/**/*.go"
      run: cd pipeline-agent && golangci-lint run --fix
    lint-pipeline-core:
      glob: "pipeline-core/**/*.go"
      run: cd pipeline-core && golangci-lint run --fix

pre-push:
  commands:
    build-web-ui:
      run: cd web-ui && npm run build

fix(geocode): 시설명 폴백 채택 기준을 "시군구 내 유일" 로 변경
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none

fix: stop 이 DB 만 바꾸고 실물을 남기던 불일치 수정
  control-plane/internal/api/handlers/workflow.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
Due: lint-control-plane

fix(deploy): mysql-cluster 리소스 limit 설정으로 OOMKill 방지
  deploy/argocd/application-mysql-cluster.yaml
Due: none

fix(web-ui): 체크포인트 탭이 클릭으로는 안 뜨고 Refresh 로만 뜨던 버그
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

chore(deps): 직접 의존성 업그레이드 + automaxprocs 제거
  control-plane/cmd/server/main.go
  control-plane/go.mod
  control-plane/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-runner/cmd/runner/main.go
  pipeline-runner/go.mod
  pipeline-runner/go.sum
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/go.mod
  pipeline-worker/go.sum
  pipeline-worker/internal/agent/agent.go
Due: lint-control-plane

fix(web-ui): 체크포인트 탭이 클릭으로는 안 뜨고 Refresh 로만 뜨던 버그 (#18)
  deploy/argocd/application-mysql-cluster.yaml
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

chore: .claude/settings.local.json 을 추적 대상에서 제외
  .claude/settings.local.json
  .gitignore
Due: none

chore(deps): 직접 의존성 업그레이드 + automaxprocs 제거 (#19)
  control-plane/cmd/server/main.go
  control-plane/go.mod
  control-plane/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-runner/cmd/runner/main.go
  pipeline-runner/go.mod
  pipeline-runner/go.sum
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/go.mod
  pipeline-worker/go.sum
  pipeline-worker/internal/agent/agent.go
Due: lint-control-plane

docs: automaxprocs 제거 근거를 실측 사실로 정정
  control-plane/cmd/server/main.go
  pipeline-runner/cmd/runner/main.go
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/internal/agent/agent.go
Due: lint-control-plane

chore: .claude/settings.local.json 을 추적 대상에서 제외 (#20)
  .claude/settings.local.json
  .gitignore
Due: none

docs: automaxprocs 제거 근거를 실측 사실로 정정 (#21)
  control-plane/cmd/server/main.go
  pipeline-runner/cmd/runner/main.go
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/internal/agent/agent.go
Due: lint-control-plane

fix(monitoring): realtime 실행의 Agent(Node) 정보가 UI 에 안 뜨던 문제
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_agent_backfill_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-worker/internal/agent/agent.go
  shared/types/monitoring.go
Due: lint-control-plane

fix(monitoring): realtime 실행의 Agent(Node) 정보가 UI 에 안 뜨던 문제 (#22)
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_agent_backfill_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-worker/internal/agent/agent.go
  shared/types/monitoring.go
Due: lint-control-plane

fix(runner): 코어 코드 변경을 리졸버가 감지하지 못해 옛 바이너리로 계속 실행되던 문제
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/services/runner_resolver.go
  control-plane/internal/services/runner_resolver_core_hash_test.go
Due: lint-control-plane

fix(runner): 코어 코드 변경을 리졸버가 감지하지 못해 옛 바이너리로 계속 실행되던 문제 (#23)
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/services/runner_resolver.go
  control-plane/internal/services/runner_resolver_core_hash_test.go
Due: lint-control-plane

fix(agent): 롤링 재배포가 정상 실행을 orphan 으로 만들던 문제
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/shutdown_claim_test.go
Due: none

fix(agent): 롤링 재배포가 정상 실행을 orphan 으로 만들던 문제 (#24)
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/shutdown_claim_test.go
Due: none

fix(agent): DB-실물 불일치 자기 치유 — 좀비 실행이 살아남지 못하게
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/sweep_test.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/streaming_health_test.go
Due: none

fix(agent): DB-실물 불일치 자기 치유 — 좀비 실행이 살아남지 못하게 (#25)
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/sweep_test.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/streaming_health_test.go
Due: none

feat(observability): 실행이 어떤 runner 바이너리로 도는지 노출
  control-plane/internal/api/handlers/execution_runner_version_test.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_partition.go
  control-plane/pkg/database/migrations/000008_add_execution_runner_version.down.sql
  control-plane/pkg/database/migrations/000008_add_execution_runner_version.up.sql
  control-plane/pkg/models/models.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui, lint-control-plane

feat(ui): 빌드 진행·실패 모니터링 + /stages URL 정본화
  control-plane/internal/api/handlers/runner_handler.go
  web-ui/src/App.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/pluginApi.ts
Due: lint-web-ui, lint-control-plane

feat(stats): realtime 시간당 통계 수집 배선 + 보관 기간 정리
  control-plane/internal/api/handlers/stats_ingest_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/scheduler_service.go
  control-plane/internal/services/stats_retention_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-runner/internal/runner/stats_reporter.go
  pipeline-runner/internal/runner/stats_reporter_test.go
  shared/types/statistics.go
Due: lint-control-plane

feat(observability): 실행이 어떤 runner 바이너리로 도는지 노출 (#26)
  control-plane/internal/api/handlers/execution_runner_version_test.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_partition.go
  control-plane/pkg/database/migrations/000008_add_execution_runner_version.down.sql
  control-plane/pkg/database/migrations/000008_add_execution_runner_version.up.sql
  control-plane/pkg/models/models.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui, lint-control-plane

feat(ui): 빌드 진행·실패 모니터링 + /stages URL 정본화 (#27)
  control-plane/internal/api/handlers/runner_handler.go
  web-ui/src/App.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/pluginApi.ts
Due: lint-web-ui, lint-control-plane

feat(stats): realtime 시간당 통계 수집 배선 + 보관 기간 정리 (#28)
  control-plane/internal/api/handlers/stats_ingest_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/scheduler_service.go
  control-plane/internal/services/stats_retention_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-runner/internal/runner/stats_reporter.go
  pipeline-runner/internal/runner/stats_reporter_test.go
  shared/types/statistics.go
Due: lint-control-plane

test(web-ui): 라우트·모니터링 배선 회귀 방지
  web-ui/src/routes.test.ts
Due: lint-web-ui

fix(test): node:fs 대신 Vite ?raw import 사용
  web-ui/src/routes.test.ts
Due: lint-web-ui

test(web-ui): 라우트·모니터링 배선 회귀 방지 (#29)
  web-ui/src/routes.test.ts
Due: lint-web-ui

fix(web-ui): 부수 데이터 조회 실패가 프로젝트를 '없음' 으로 표시하던 문제
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/routes.test.ts
Due: lint-web-ui

fix(web-ui): 부수 데이터 조회 실패가 프로젝트를 '없음' 으로 표시하던 문제 (#30)
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/routes.test.ts
Due: lint-web-ui

fix(runner): 빌드 필요 메시지가 이유를 구분하지 못하던 문제
  control-plane/internal/services/build_required_message_test.go
  control-plane/internal/services/runner_resolver.go
Due: lint-control-plane

fix(runner): 빌드 필요 메시지가 이유를 구분하지 못하던 문제 (#31)
  control-plane/internal/services/build_required_message_test.go
  control-plane/internal/services/runner_resolver.go
Due: lint-control-plane

feat(runner): 빌드 히스토리 + 노드 배포 현황 화면
  control-plane/internal/api/handlers/runner_deployment_handler.go
  control-plane/internal/api/routes.go
  web-ui/src/App.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/RunnerStatus.tsx
  web-ui/src/services/pluginApi.ts
Due: lint-web-ui, lint-control-plane

feat(runner): 빌드 히스토리 + 노드 배포 현황 화면 (#32)
  control-plane/internal/api/handlers/runner_deployment_handler.go
  control-plane/internal/api/routes.go
  web-ui/src/App.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/RunnerStatus.tsx
  web-ui/src/services/pluginApi.ts
Due: lint-web-ui, lint-control-plane

perf(runner): 버전 조회가 32MB 바이너리를 매번 읽던 문제
  control-plane/internal/api/handlers/runner_deployment_handler.go
  control-plane/internal/api/handlers/runner_handler.go
  control-plane/internal/services/runner_resolver.go
  control-plane/pkg/models/models.go
  control-plane/pkg/models/runner_version_columns_test.go
Due: lint-control-plane

perf(runner): 버전 조회가 32MB 바이너리를 매번 읽던 문제 (#33)
  control-plane/internal/api/handlers/runner_deployment_handler.go
  control-plane/internal/api/handlers/runner_handler.go
  control-plane/internal/services/runner_resolver.go
  control-plane/pkg/models/models.go
  control-plane/pkg/models/runner_version_columns_test.go
Due: lint-control-plane

feat(ui): 목록 Description 정리 + 세트형 워크플로우 구분 표시
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/pages/workflowSet.test.ts
Due: lint-web-ui

feat(ui): 목록 Description 정리 + 세트형 워크플로우 구분 표시 (#34)
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/pages/workflowSet.test.ts
Due: lint-web-ui

fix(workflow): job_config 를 API 로 수정할 수 없던 문제
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_job_config_test.go
  control-plane/internal/api/handlers/workflow_yaml.go
Due: lint-control-plane

fix(workflow): job_config 를 API 로 수정할 수 없던 문제 (#35)
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_job_config_test.go
  control-plane/internal/api/handlers/workflow_yaml.go
Due: lint-control-plane
