Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lint-web-ui:
  run: cd web-ui && npm run lint

lint-control-plane:
  run: cd control-plane && golangci-lint run --fix

lint-pipeline-agent:
  run: cd pipeline-agent && golangci-lint run --fix

lint-pipeline-core:
  run: cd pipeline-core && golangci-lint run --fix

refactor(oauth): unify REDIRECT_URL to single OAUTH_REDIRECT_URL
  control-plane/cmd/server/main.go
  control-plane/pkg/config/oauth.go
  deploy/argocd/README.md
  deploy/argocd/application-external-db.yaml
  deploy/argocd/application-local.yaml
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/templates/secrets.yaml
  deploy/helm/conduix/values.yaml
Due: lint-control-plane

refactor(helm): use UPPER_SNAKE_CASE for secrets naming convention
  deploy/argocd/README.md
  deploy/argocd/application-external-db.yaml
  deploy/argocd/application-local.yaml
  deploy/helm/conduix/templates/secrets.yaml
  deploy/helm/conduix/values.yaml
Due: none

fix(i18n): move role display names from server to frontend i18n
  control-plane/internal/api/handlers/auth.go
  control-plane/internal/api/handlers/users.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Profile.tsx
  web-ui/src/pages/Users.tsx
Due: lint-web-ui, lint-control-plane

feat(batch): implement hybrid execution mode with Kubernetes Job
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/handlers/agent.go
  control-plane/internal/api/handlers/cluster.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/kubernetes_job_service.go
  control-plane/internal/services/redis_service.go
  control-plane/pkg/models/models.go
  deploy/helm/conduix/templates/rbac.yaml
  deploy/helm/conduix/values.yaml
  docs/MULTI_CLUSTER_IMPLEMENTATION_PROGRESS.md
  pipeline-agent/cmd/agent/main.go
  pipeline-agent/internal/agent/agent.go
  pipeline-agent/internal/agent/batch_runner.go
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/sink/rest_api_sink.go
  pipeline-core/pkg/sink/sink.go
  shared/types/agent.go
  shared/types/api.go
  shared/types/job.go
  shared/types/job_test.go
  web-ui/src/App.tsx
  web-ui/src/components/JobConfigForm.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Agents.tsx
  web-ui/src/pages/Clusters.tsx
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

feat(pipeline): rename Source to Input and add PreStages support
  CLAUDE.md
  README.ko.md
  README.md
  control-plane/internal/api/handlers/workflow.go
  pipeline-core/pkg/executor/group_executor.go
  shared/types/hierarchy.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/services/api.ts
  web-ui/src/types/pipeline.ts
Due: lint-web-ui, lint-control-plane, lint-pipeline-core

feat(output): implement Phase 1 Output expansion (ES, MongoDB, S3)
  docs/PIPELINE_EXTENSION_PLAN.md
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/output/batching_wrapper.go
  pipeline-core/pkg/output/dlq.go
  pipeline-core/pkg/output/elasticsearch.go
  pipeline-core/pkg/output/elasticsearch_test.go
  pipeline-core/pkg/output/kafka.go
  pipeline-core/pkg/output/mongodb.go
  pipeline-core/pkg/output/mongodb_test.go
  pipeline-core/pkg/output/output.go
  pipeline-core/pkg/output/rest_api.go
  pipeline-core/pkg/output/s3.go
  pipeline-core/pkg/output/s3_test.go
  pipeline-core/pkg/output/sql.go
  pipeline-core/pkg/pipeline/pipeline.go
  pipeline-core/pkg/stream/contract_stage_test.go
Due: lint-pipeline-core

feat(routing): implement Phase 2 advanced routing (Router, Dynamic, Fan-out)
  docs/PIPELINE_EXTENSION_PLAN.md
  pipeline-core/pkg/output/dynamic.go
  pipeline-core/pkg/output/dynamic_test.go
  pipeline-core/pkg/stream/fanout_stage.go
  pipeline-core/pkg/stream/fanout_stage_test.go
  pipeline-core/pkg/stream/router_stage.go
  pipeline-core/pkg/stream/router_stage_test.go
  pipeline-core/pkg/stream/stage.go
Due: lint-pipeline-core

chore: add yaml dependency for PipelineEditor
  web-ui/package-lock.json
  web-ui/package.json
Due: none

refactor: unify source → input terminology across codebase
  control-plane/internal/api/handlers/checkpoint_handler.go
  control-plane/pkg/models/models.go
  docs/design-v2.md
  pipeline-core/configs/v2/batch-asan-parking.yaml
  pipeline-core/configs/v2/batch-file.yaml
  pipeline-core/configs/v2/batch-http-basic.yaml
  pipeline-core/configs/v2/batch-http-paginated.yaml
  pipeline-core/configs/v2/batch-sql.yaml
  pipeline-core/configs/v2/filter-examples.yaml
  pipeline-core/configs/v2/realtime-kafka.yaml
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/config_helper.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/pipeline/pipeline.go
Due: lint-control-plane, lint-pipeline-core

feat(pipeline): add GCS/Pub/Sub, ES retry, DLQ, S3 multipart, state mgmt
  control-plane/go.sum
  docs/PIPELINE_EXTENSION_PLAN.md
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/output/dlq.go
  pipeline-core/pkg/output/elasticsearch.go
  pipeline-core/pkg/output/gcs.go
  pipeline-core/pkg/output/output.go
  pipeline-core/pkg/output/s3.go
  pipeline-core/pkg/source/pubsub.go
  pipeline-core/pkg/source/source.go
  pipeline-core/pkg/stream/stream_join_stage.go
  pipeline-core/pkg/stream/windowed_aggregate_stage.go
  shared/types/contract.go
Due: lint-pipeline-core

style: apply linter formatting fixes
  control-plane/internal/api/handlers/checkpoint_handler.go
  control-plane/pkg/models/models.go
  deploy/argocd/application-local.yaml
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/output/elasticsearch.go
  pipeline-core/pkg/stream/stream_join_stage.go
  pipeline-core/pkg/stream/windowed_aggregate_stage.go
Due: lint-control-plane, lint-pipeline-core

feat(pipeline): add BigQuery output, secrets provider, and data preview
  control-plane/internal/api/handlers/preview_handler.go
  control-plane/internal/api/routes.go
  docs/PIPELINE_EXTENSION_PLAN.md
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/output/bigquery.go
  pipeline-core/pkg/output/output.go
  pipeline-core/pkg/preview/preview.go
  pipeline-core/pkg/preview/preview_test.go
  pipeline-core/pkg/secrets/provider.go
  pipeline-core/pkg/secrets/provider_test.go
Due: lint-control-plane, lint-pipeline-core

feat(pipeline): add advanced stages, secrets providers, and monitoring UI
  docs/PIPELINE_EXTENSION_PLAN.md
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/secrets/aws_provider.go
  pipeline-core/pkg/secrets/aws_provider_test.go
  pipeline-core/pkg/secrets/gcp_provider.go
  pipeline-core/pkg/secrets/gcp_provider_test.go
  pipeline-core/pkg/secrets/provider.go
  pipeline-core/pkg/source/mongodb_cdc.go
  pipeline-core/pkg/source/mongodb_cdc_test.go
  pipeline-core/pkg/source/redis_stream.go
  pipeline-core/pkg/source/redis_stream_test.go
  pipeline-core/pkg/source/source.go
  pipeline-core/pkg/stream/async_enrich_stage.go
  pipeline-core/pkg/stream/async_enrich_stage_test.go
  pipeline-core/pkg/stream/batch_lookup_stage.go
  pipeline-core/pkg/stream/batch_lookup_stage_test.go
  pipeline-core/pkg/stream/es_lookup_stage.go
  pipeline-core/pkg/stream/es_lookup_stage_test.go
  pipeline-core/pkg/stream/stage.go
  pipeline-core/pkg/stream/subpipeline_stage.go
  pipeline-core/pkg/stream/subpipeline_stage_test.go
  pipeline-core/pkg/stream/windowed_aggregate_stage.go
  pipeline-core/pkg/stream/windowed_aggregate_stage_test.go
  web-ui/src/components/PipelineMonitor/MetricsCard.tsx
  web-ui/src/components/PipelineMonitor/PipelineMonitor.tsx
  web-ui/src/components/PipelineMonitor/StageMetricsTable.tsx
  web-ui/src/components/PipelineMonitor/ThroughputChart.tsx
  web-ui/src/components/PipelineMonitor/index.ts
  web-ui/src/components/VisualPipelineBuilder/StageConfigDialog.tsx
  web-ui/src/components/VisualPipelineBuilder/StagePanel.tsx
  web-ui/src/components/VisualPipelineBuilder/VisualPipelineBuilder.tsx
  web-ui/src/components/VisualPipelineBuilder/index.ts
  web-ui/src/components/VisualPipelineBuilder/nodes/InputNode.tsx
  web-ui/src/components/VisualPipelineBuilder/nodes/OutputNode.tsx
  web-ui/src/components/VisualPipelineBuilder/nodes/StageNode.tsx
  web-ui/src/pages/Dashboard.tsx
Due: lint-web-ui, lint-pipeline-core

feat(pipeline): add OAuth2 PKCE, Snowflake output, Parquet format, and MQTT wildcards
  control-plane/go.mod
  control-plane/go.sum
  docs/PIPELINE_EXTENSION_PLAN.md
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/source/http_oauth2_test.go
  pipeline-core/pkg/source/mqtt.go
  pipeline-core/pkg/source/mqtt_test.go
  pipeline-core/pkg/stream/parquet_writer.go
  pipeline-core/pkg/stream/parquet_writer_test.go
  pipeline-core/pkg/stream/sink.go
  pipeline-core/pkg/stream/snowflake_sink.go
  pipeline-core/pkg/stream/snowflake_sink_test.go
  shared/types/sink.go
Due: lint-pipeline-core

docs: add plugin architecture plan for extensibility
  docs/PLUGIN_ARCHITECTURE_PLAN.md
Due: none

fix(helm): use http.d path for alpine nginx config mount
  deploy/helm/conduix/templates/web-ui-deployment.yaml
Due: none

fix(helm): add charset utf-8 to nginx config for Korean support
  deploy/helm/conduix/templates/configmaps.yaml
Due: none

feat(plugin): implement Plugin SDK V3 with HashiCorp go-plugin (Phase 1)
  docs/PLUGIN_ARCHITECTURE_V3.md
  docs/PLUGIN_V3_WORK_PLAN.md
  plugin-sdk/example/main.go
  plugin-sdk/go.mod
  plugin-sdk/go.sum
  plugin-sdk/grpc_client.go
  plugin-sdk/grpc_server.go
  plugin-sdk/proto/plugin/v1/plugin.pb.go
  plugin-sdk/proto/plugin/v1/plugin_grpc.pb.go
  plugin-sdk/sdk.go
  plugin-sdk/sdk_test.go
  proto/plugin/v1/plugin.proto
Due: none

feat(plugin): add Builder Service, DB models, and build API (Phases 2-5)
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/builder/builder.go
  control-plane/internal/builder/builder_test.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/models.go
  docs/PLUGIN_V3_WORK_PLAN.md
Due: lint-control-plane

feat(plugin): add Pipeline Runner plugin stage integration (Phase 4)
  control-plane/go.mod
  control-plane/go.sum
  docs/PLUGIN_V3_WORK_PLAN.md
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/stream/plugin_stage.go
  pipeline-core/pkg/stream/plugin_stage_test.go
  pipeline-core/pkg/stream/stage.go
Due: lint-pipeline-core

feat(web-ui): add Plugin Builder page with Monaco Editor (Phase 6)
  docs/PLUGIN_V3_WORK_PLAN.md
  web-ui/src/App.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/PluginBuilder.tsx
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
Due: lint-web-ui

ci: add GitHub Actions CI/CD with GHCR image push
  .github/workflows/ci.yml
  deploy/docker/Dockerfile.agent
  deploy/docker/Dockerfile.control-plane
  pipeline-core/pkg/stream/plugin_stage_test.go
Due: lint-pipeline-core

ci: fix GHCR permissions and speed up Go tests
  .github/workflows/ci.yml
Due: none

ci: use CR_PAT secret for GHCR push
  .github/workflows/ci.yml
Due: none

ci: add multi-platform build (amd64+arm64) and GHCR pull secret
  .github/workflows/ci.yml
  deploy/argocd/application-local.yaml
Due: none

fix(helm): correct nginx config mount path to /etc/nginx/conf.d/
  deploy/helm/conduix/templates/web-ui-deployment.yaml
Due: none

fix(argocd): ignore Deployment replicas to allow HPA and manual scaling
  deploy/argocd/application-local.yaml
  deploy/argocd/application.yaml
Due: none

fix(agent): calculate uptime from DB registered_at instead of heartbeat timestamp
  control-plane/internal/api/handlers/agent.go
Due: lint-control-plane

feat(web-ui): display partition and pagination config in workflow detail
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/types/pipeline.ts
Due: lint-web-ui

perf(docker): use native cross-compilation and BuildKit cache mounts
  .github/workflows/ci.yml
  deploy/docker/Dockerfile.agent
  deploy/docker/Dockerfile.control-plane
  deploy/docker/Dockerfile.web-ui
Due: none

fix(web-ui): add partitioned_http support and preserve partition/pagination in YAML
  web-ui/src/components/PipelineEditor/InputSection.tsx
  web-ui/src/utils/pipelineYamlConverter.ts
Due: lint-web-ui

fix(web-ui): use getInput() instead of pipeline.source for input display
  deploy/docker/nginx.conf
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

fix(shared): add Partition and Pagination fields to WorkflowInput struct
  shared/types/hierarchy.go
Due: none

feat(web-ui): add partitioned_sql input type and partition/pagination editor forms
  web-ui/src/components/PipelineEditor/InputSection.tsx
  web-ui/src/utils/pipelineYamlConverter.ts
Due: lint-web-ui

refactor(partition): merge list_path+id_field into single partition_id_path and fix output display
  pipeline-core/pkg/config/partition_test.go
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/partitioned_http.go
  web-ui/src/components/PipelineEditor/InputSection.tsx
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui, lint-pipeline-core

fix(web-ui): rename Source label to Input and show output type instead of name
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

perf(ci): parallelize Go tests with matrix and remove redundant tsc step
  .github/workflows/ci.yml
Due: none

perf(ci): revert matrix to single-job background parallel Go tests
  .github/workflows/ci.yml
Due: none

Path conditions:
  lint-web-ui: any of: web-ui/**/*.{ts,tsx}
  lint-control-plane: any of: control-plane/**/*.go
  lint-pipeline-agent: any of: pipeline-agent/**/*.go
  lint-pipeline-core: any of: pipeline-core/**/*.go
