Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-web-ui:
      glob: "web-ui/**/*.{ts,tsx}"
      run: cd web-ui && npm run lint
    lint-control-plane:
      glob: "control-plane/**/*.go"
      run: cd control-plane && golangci-lint run --fix
    lint-pipeline-agent:
      glob: "pipeline-agent/**/*.go"
      run: cd pipeline-agent && golangci-lint run --fix
    lint-pipeline-core:
      glob: "pipeline-core/**/*.go"
      run: cd pipeline-core && golangci-lint run --fix

pre-push:
  commands:
    build-web-ui:
      run: cd web-ui && npm run build

docs: conduix 사용 가이드 — 개요부터 번호순으로 따라 읽는 문서
  docs/CONDUIX_GUIDE.ko.md
Due: none

docs: 커스텀 stage 의존성 버전 공존 방안 확정 + 구현 계획 + ADR-0005
  docs/CUSTOM_STAGE_DEPENDENCY_CONFLICT.md
  docs/README.md
  docs/adr/0005-dependency-version-coexistence.md
  docs/adr/README.md
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
Due: none

feat(modules): 레지스트리 다중 버전 보유 + stage 별 고정 버전 컬럼 (ADR-0005 W1)
  control-plane/internal/api/handlers/module_handler.go
  control-plane/internal/api/handlers/module_handler_test.go
  control-plane/internal/api/routes.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/models.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
Due: lint-control-plane

feat(deps): go.mod 생성 정책을 dependency 패키지로 일원화 (ADR-0005 W2)
  control-plane/internal/api/handlers/lsp_handler.go
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/stage_import_validation.go
  control-plane/internal/api/handlers/stage_import_validation_test.go
  control-plane/internal/builder/deps.go
  control-plane/internal/builder/deps_test.go
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
  control-plane/internal/dependency/dependency_test.go
  control-plane/internal/dependency/forkpath.go
  control-plane/internal/dependency/gomod.go
  control-plane/internal/dependency/pins.go
  control-plane/internal/lsp/proxy.go
  control-plane/internal/lsp/workspace_manager.go
  control-plane/internal/services/runner_resolver.go
  control-plane/internal/services/runner_resolver_core_hash_test.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
  web-ui/src/components/NativeStageEditor/NativeStageEditor.tsx
  web-ui/src/services/lspClient.ts
Due: lint-web-ui, lint-control-plane

feat(deps): 비기본 버전 모듈을 forked/ 로 복사·재작성해 한 바이너리에 공존 (ADR-0005 W3)
  control-plane/internal/builder/deps.go
  control-plane/internal/builder/deps_test.go
  control-plane/internal/builder/fork_integration_test.go
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/testdata/foo_v1/go.mod
  control-plane/internal/builder/testdata/foo_v1/root.go
  control-plane/internal/builder/testdata/foo_v1/sub/sub.go
  control-plane/internal/builder/testdata/foo_v2/go.mod
  control-plane/internal/builder/testdata/foo_v2/root.go
  control-plane/internal/builder/testdata/foo_v2/sub/sub.go
  control-plane/internal/dependency/rewrite.go
  control-plane/internal/dependency/rewrite_test.go
  control-plane/internal/dependency/source.go
  control-plane/pkg/models/models.go
  control-plane/pkg/models/runner_version_columns_test.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
Due: lint-control-plane

feat(deps): fork 빌드에 init 자가점검 추가 — 중복 등록 panic 을 빌드 실패로 (ADR-0005 W4)
  control-plane/internal/builder/deps.go
  control-plane/internal/builder/deps_test.go
  control-plane/internal/builder/fork_integration_test.go
  control-plane/internal/builder/runner_builder.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
  pipeline-runner/cmd/runner/init_check_test.go
  pipeline-runner/cmd/runner/main.go
Due: lint-control-plane

feat(deps): stage 의존성 버전 올리기 API + pinned_behind 응답 (ADR-0005 W5)
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_upgrade.go
  control-plane/internal/api/handlers/plugin_upgrade_test.go
  control-plane/internal/api/handlers/stage_compile.go
  control-plane/internal/api/routes.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
Due: lint-control-plane

feat(deps): 모듈 레지스트리 관리 UI + stage 고정 버전 표시·올리기 (ADR-0005 W6)
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
  web-ui/src/components/ModuleRegistry/ModuleRegistryDialog.tsx
  web-ui/src/components/NativeStageEditor/NativeStageEditor.tsx
  web-ui/src/components/depsVersionUI.test.ts
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/moduleApi.ts
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
Due: lint-web-ui

docs: ADR-0005 Accepted + 구현 결과 반영, 관련 문서 정합 (W7)
  docs/ARCHITECTURE.md
  docs/adr/0005-dependency-version-coexistence.md
  docs/archive/CUSTOM_STAGE_DEPENDENCY_REGISTRY.md
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
Due: none

fix(deps): 리뷰 지적 4건 — single_version_only 가드, PUT 버전 유지, 백필 해시 정합, stale 사유 구분
  control-plane/internal/api/handlers/module_handler.go
  control-plane/internal/api/handlers/module_handler_test.go
  control-plane/internal/builder/deps.go
  control-plane/internal/builder/deps_test.go
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/services/runner_resolver.go
  control-plane/internal/services/runner_resolver_core_hash_test.go
  control-plane/pkg/models/models.go
  control-plane/pkg/models/runner_version_columns_test.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
Due: lint-control-plane

docs: ArgoCD admin 로그인 실패 진단·복구 절차
  CLAUDE.md
Due: none

docs: ArgoCD repo-server copyutil 실패 진단·복구
  CLAUDE.md
Due: none

feat(deps): import 문을 의존성의 단일 입력원으로 — 미등록 모듈 원클릭 등록·경로 해소·권한 정합
  control-plane/internal/api/handlers/module_handler.go
  control-plane/internal/api/handlers/module_handler_test.go
  control-plane/internal/api/handlers/module_resolve.go
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_missing_modules_test.go
  control-plane/internal/api/handlers/stage_import_validation.go
  control-plane/internal/api/routes.go
  control-plane/internal/dependency/dependency_test.go
  control-plane/internal/dependency/pins.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
  shared/types/api.go
  web-ui/src/components/ModuleRegistry/MissingModulesDialog.tsx
  web-ui/src/components/NativeStageEditor/NativeStageEditor.tsx
  web-ui/src/components/NativeStageEditor/depsImportUI.test.ts
  web-ui/src/components/NativeStageEditor/depsImportUI.ts
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/moduleApi.ts
Due: lint-web-ui, lint-control-plane

feat(deps): import 문을 의존성의 단일 입력원으로 — 미등록 모듈 원클릭 등록·경로 해소·권한 정합 (#59)
  CLAUDE.md
  control-plane/internal/api/handlers/module_handler.go
  control-plane/internal/api/handlers/module_handler_test.go
  control-plane/internal/api/handlers/module_resolve.go
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_missing_modules_test.go
  control-plane/internal/api/handlers/stage_import_validation.go
  control-plane/internal/api/routes.go
  control-plane/internal/dependency/dependency_test.go
  control-plane/internal/dependency/pins.go
  docs/plans/CUSTOM_STAGE_DEP_VERSION_COEXIST_PLAN.md
  shared/types/api.go
  web-ui/src/components/ModuleRegistry/MissingModulesDialog.tsx
  web-ui/src/components/NativeStageEditor/NativeStageEditor.tsx
  web-ui/src/components/NativeStageEditor/depsImportUI.test.ts
  web-ui/src/components/NativeStageEditor/depsImportUI.ts
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/moduleApi.ts
Due: lint-web-ui, lint-control-plane
