Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-web-ui:
      glob: "web-ui/**/*.{ts,tsx}"
      run: cd web-ui && npm run lint
    lint-control-plane:
      glob: "control-plane/**/*.go"
      run: cd control-plane && golangci-lint run --fix
    lint-pipeline-agent:
      glob: "pipeline-agent/**/*.go"
      run: cd pipeline-agent && golangci-lint run --fix
    lint-pipeline-core:
      glob: "pipeline-core/**/*.go"
      run: cd pipeline-core && golangci-lint run --fix

pre-push:
  commands:
    build-web-ui:
      run: cd web-ui && npm run build

chore: separate local dev values from default helm values
  .gitignore
  deploy/helm/conduix/values.yaml
Due: none

feat: add DB connection test for SQL Output stage
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/handlers/utils.go
  control-plane/internal/api/routes.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui, lint-control-plane

feat: add connection test for all Source and Output stages
  control-plane/internal/api/handlers/utils.go
  control-plane/internal/api/routes.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui, lint-control-plane

fix(web-ui): auto-save schema after Generate from Sample Data
  web-ui/src/components/SchemaEditor/SchemaEditor.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/DataModelDetail.tsx
Due: lint-web-ui

fix(control-plane): add json_schema field to DataType update/create requests
  control-plane/internal/api/handlers/datatype_handler.go
Due: lint-control-plane

fix(shared): add ID field to Stage struct for frontend persistence
  shared/types/hierarchy.go
Due: none

fix(control-plane): parse JSON string fields in GetDataType response
  control-plane/internal/api/handlers/datatype_handler.go
Due: lint-control-plane

feat(pipeline-core): support connection_string in SQL sink stage
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/config_helper.go
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

fix(pipeline-core): support Go DSN format in connection_string parser
  pipeline-core/pkg/executor/config_helper.go
Due: lint-pipeline-core

feat(pipeline-core): execute CREATE TABLE SQL in SQL sink
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/sink/sql.go
  web-ui/src/pages/StageEditor.tsx
Due: lint-web-ui, lint-pipeline-core

feat(pipeline-core): add rate limiting support for HTTP source
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/config_helper.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/source/http.go
  shared/types/hierarchy.go
Due: lint-pipeline-core

style: apply linter formatting fixes
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/http.go
Due: lint-pipeline-core

fix(web-ui): add rate_limit to updateWorkflow API type
  web-ui/src/services/api.ts
Due: lint-web-ui

fix: accumulate sink errors and store pipeline_results in execution
  control-plane/internal/api/handlers/workflow.go
  pipeline-core/pkg/executor/group_executor.go
Due: lint-control-plane, lint-pipeline-core

fix: remap stage mappings format and error message display
  pipeline-core/pkg/executor/group_executor.go
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui, lint-pipeline-core

fix(pipeline-core): parse connection_string for SQL source
  pipeline-core/pkg/executor/config_helper.go
Due: lint-pipeline-core

feat: add Kubernetes Log Source for realtime pipeline
  deploy/helm/conduix/templates/rbac.yaml
  deploy/helm/conduix/values.yaml
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/config_helper.go
  pipeline-core/pkg/source/kubernetes.go
  pipeline-core/pkg/source/source.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/SourceEditor.tsx
Due: lint-web-ui, lint-pipeline-core

fix(k8s-source): add checkpoint tracking and auto-reconnection
  pipeline-core/pkg/source/kubernetes.go
Due: lint-pipeline-core

feat: add source checkpoint management for realtime pipelines
  control-plane/internal/api/handlers/checkpoint_handler.go
  control-plane/internal/api/routes.go
  control-plane/pkg/database/migrations/000005_add_source_checkpoints.down.sql
  control-plane/pkg/database/migrations/000005_add_source_checkpoints.up.sql
  control-plane/pkg/models/models.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui, lint-control-plane

feat: enhance checkpoint management and workflow monitoring
  CLAUDE.md
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/redis_service.go
  control-plane/pkg/models/models.go
  pipeline-agent/api/handlers.go
  pipeline-agent/internal/agent/agent.go
  pipeline-core/pkg/checkpoint/client.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/executor/sample_buffer.go
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/kafka.go
  pipeline-core/pkg/source/kubernetes.go
  pipeline-core/pkg/source/source.go
  pipeline-core/pkg/source/sql_event.go
  shared/types/monitoring.go
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

feat: implement parent-child pipeline linking with dynamic Kafka management
  control-plane/internal/api/handlers/pipeline_link_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/pipeline_link_service.go
  control-plane/pkg/database/migrations/000006_add_pipeline_links.down.sql
  control-plane/pkg/database/migrations/000006_add_pipeline_links.up.sql
  control-plane/pkg/models/models.go
  deploy/helm/conduix/Chart.yaml
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/values.yaml
  docs/PIPELINE_LINKING.md
  pipeline-agent/internal/agent/agent.go
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/link/client.go
  pipeline-core/pkg/sink/kafka.go
  pipeline-core/pkg/sink/sink.go
Due: lint-control-plane, lint-pipeline-agent, lint-pipeline-core

fix: remove duplicate route registration for pipelines checkpoints
  control-plane/internal/api/routes.go
Due: lint-control-plane

test: add regression tests for duplicate route registration
  control-plane/internal/api/routes_test.go
Due: lint-control-plane

feat(ui): make Target Data Model optional and improve Expansion Mode clarity
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

chore: upgrade Go version to 1.25
  CLAUDE.md
  control-plane/go.mod
  pipeline-agent/go.mod
  pipeline-core/go.mod
  shared/go.mod
Due: none

chore(docker): upgrade Go version to 1.25 in Dockerfiles
  deploy/docker/Dockerfile.agent
  deploy/docker/Dockerfile.control-plane
Due: none

feat(deploy): add NodePort support for local k8s deployment
  deploy/argocd/application-local.yaml
  deploy/helm/conduix/templates/services.yaml
Due: none

feat(api): add index endpoint with service info and metrics
  control-plane/internal/api/routes.go
  control-plane/internal/api/routes_test.go
  pipeline-agent/api/handlers.go
Due: lint-control-plane, lint-pipeline-agent

refactor(ui): migrate from Ant Design to Material-UI
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/App.tsx
  web-ui/src/components/FilterBuilder/FilterBuilder.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/components/PipelineGraph/PipelineGraph.tsx
  web-ui/src/components/PipelineGraph/nodes/ActorNode.tsx
  web-ui/src/components/SchemaEditor/SchemaEditor.tsx
  web-ui/src/components/SchemaEditor/VisualFieldBuilder.tsx
  web-ui/src/components/common/ConfirmDialog.tsx
  web-ui/src/hooks/useSnackbar.ts
  web-ui/src/i18n/locales/en.json
  web-ui/src/pages/Agents.tsx
  web-ui/src/pages/Dashboard.tsx
  web-ui/src/pages/DataModelDetail.tsx
  web-ui/src/pages/DataModels.tsx
  web-ui/src/pages/History.tsx
  web-ui/src/pages/Login.tsx
  web-ui/src/pages/PipelineDetail.tsx
  web-ui/src/pages/Pipelines.tsx
  web-ui/src/pages/Profile.tsx
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/pages/Projects.tsx
  web-ui/src/pages/Schedules.tsx
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/pages/Users.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/pages/Workflows.tsx
  web-ui/src/store/theme.ts
Due: lint-web-ui

feat(deploy): add KRaft mode Kafka support for local ArgoCD deployment
  deploy/argocd/application-local-kafka.yaml
  deploy/helm/conduix/values.yaml
Due: none

fix(deploy): specify explicit image tags for Bitnami charts
  deploy/argocd/application-local-kafka.yaml
Due: none

fix(deploy): use official Docker images instead of Bitnami
  deploy/argocd/application-local-kafka.yaml
Due: none

fix(deploy): remove custom image overrides, use Bitnami defaults
  deploy/argocd/application-local-kafka.yaml
Due: none

fix(deploy): upgrade Bitnami chart deps to OCI registry
  deploy/helm/conduix/Chart.yaml
Due: none

fix(deploy): set Bitnami image registry to registry-1.docker.io
  deploy/helm/conduix/values.yaml
Due: none

fix(deploy): remove custom image registry settings
  deploy/helm/conduix/values.yaml
Due: none

refactor(deploy): migrate MySQL/Kafka to Operator-based deployment
  deploy/argocd/application-kafka-strimzi.yaml
  deploy/argocd/application-local-kafka.yaml
  deploy/argocd/application-mysql-cluster.yaml
  deploy/argocd/application-mysql-operator.yaml
  deploy/argocd/kafka-cluster.yaml
  deploy/helm/conduix/Chart.yaml
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/templates/migration-job.yaml
  deploy/helm/conduix/templates/secrets.yaml
  deploy/helm/conduix/values.yaml
Due: none

chore: upgrade Go version to 1.26
  CLAUDE.md
  control-plane/go.mod
  deploy/docker/Dockerfile.agent
  deploy/docker/Dockerfile.control-plane
  pipeline-agent/go.mod
  pipeline-core/go.mod
  shared/go.mod
Due: none

feat(deploy): add ArgoCD applications for SonarQube and Kafka UI with fixed NodePorts
  CLAUDE.md
  deploy/argocd/application-kafka-ui.yaml
  deploy/argocd/application-sonarqube.yaml
Due: none
