Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-web-ui:
      glob: "web-ui/**/*.{ts,tsx}"
      run: cd web-ui && npm run lint
    lint-control-plane:
      glob: "control-plane/**/*.go"
      run: cd control-plane && golangci-lint run --fix
    lint-pipeline-agent:
      glob: "pipeline-agent/**/*.go"
      run: cd pipeline-agent && golangci-lint run --fix
    lint-pipeline-core:
      glob: "pipeline-core/**/*.go"
      run: cd pipeline-core && golangci-lint run --fix

pre-push:
  commands:
    build-web-ui:
      run: cd web-ui && npm run build

chore(ci): 액션 전부 Node 24 지원 메이저로 업그레이드 — deprecation 경고 제거
  .github/workflows/ci.yml
Due: none

fix(ci): plugin-sdk cache restore 경고 제거 — go.sum 부재 시 go.mod 폴백(go.* glob)
  .github/workflows/ci.yml
Due: none

fix(deploy): mysql-operator 차트 2.3.0 으로 업 + CRD description drift ignoreDifferences
  deploy/argocd/application-mysql-cluster.yaml
  deploy/argocd/application-mysql-operator.yaml
Due: none

fix(pipeline-core): 설정 유실 버그 수정 + 매핑을 yaml 태그 기반 자동 디코드로 전환
  pipeline-core/pkg/executor/config_helper.go
  pipeline-core/pkg/executor/config_helper_test.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/source/http_test.go
Due: lint-pipeline-core

chore(deps): Go 1.27 업그레이드 + 전 모듈 의존성 최신화
  .github/workflows/ci.yml
  CLAUDE.md
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/builder/runner_builder.go
  deploy/docker/Dockerfile.agent
  deploy/docker/Dockerfile.control-plane
  pipeline-batch-job/Dockerfile
  pipeline-batch-job/go.mod
  pipeline-batch-job/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-worker/go.mod
  pipeline-worker/go.sum
  plugin-sdk/go.mod
  shared/go.mod
  shared/go.sum
Due: lint-control-plane

feat(pipeline-core): SQL sink synced_at 스탬프 + mark-and-sweep 삭제 (opt-in) & 운영툴 UI
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/output/bigquery.go
  pipeline-core/pkg/output/gcs.go
  pipeline-core/pkg/output/output.go
  pipeline-core/pkg/output/sql.go
  pipeline-core/pkg/output/sql_sweep_test.go
  pipeline-core/pkg/secrets/gcp_provider.go
  pipeline-core/pkg/secrets/gcp_provider_test.go
  pipeline-core/pkg/source/pubsub.go
  pipeline-core/pkg/source/sqs.go
  web-ui/src/components/PipelineEditor/OutputSection.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
Due: lint-web-ui, lint-pipeline-core

refactor(source): sql_event → sql_incremental 개명 (구명칭 영구 alias)
  CLAUDE.md
  control-plane/pkg/models/models.go
  docs/ARCHITECTURE.md
  docs/COMPARISON.md
  docs/공공데이터-수집대상.md
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/source/source.go
  pipeline-core/pkg/source/sql_event.go
  shared/types/hierarchy.go
  web-ui/src/components/PipelineEditor/InputSection.tsx
  web-ui/src/pages/SourceEditor.tsx
  web-ui/src/types/pipeline.ts
  web-ui/src/utils/pipelineYamlConverter.ts
Due: lint-web-ui, lint-control-plane, lint-pipeline-core

fix(control-plane): native 빌드·실행 경로 버그 3종 수정
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/startup_reclaim_test.go
  control-plane/internal/services/scheduler_service.go
Due: lint-control-plane

feat(e2e): geocode_kakao 커스텀 stage 정본 + 로컬 e2e 빌드 환경 정비
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/templates/control-plane-deployment.yaml
  deploy/helm/conduix/values-e2e.yaml
  docs/공중화장실-지오코딩-실패케이스.md
Due: none

feat: 파이프라인 config ${VAR} 해소 계층 배선 (batch Job envFrom + stage config expand)
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/pipeline-secrets.yaml
  deploy/helm/conduix/values-e2e.yaml
  pipeline-core/pkg/config/expand.go
  pipeline-core/pkg/config/expand_test.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
Due: lint-control-plane, lint-pipeline-core

fix(web-ui): MUI DataGrid v9 valueFormatter 시그니처 (흰 화면 크래시)
  web-ui/src/pages/Agents.tsx
  web-ui/src/pages/Dashboard.tsx
  web-ui/src/pages/Pipelines.tsx
  web-ui/src/pages/Projects.tsx
  web-ui/src/pages/Users.tsx
  web-ui/src/pages/Workflows.tsx
Due: lint-web-ui

feat(control-plane): 커스텀 stage 를 GUI 목록·스키마 API 에 노출 (백엔드)
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_schema_validation.go
  control-plane/internal/api/handlers/plugin_schema_validation_test.go
  control-plane/internal/api/handlers/stage_handler.go
  control-plane/pkg/database/migrations/000007_add_plugin_config_schema.down.sql
  control-plane/pkg/database/migrations/000007_add_plugin_config_schema.up.sql
  control-plane/pkg/models/models.go
Due: lint-control-plane

feat(web-ui): 커스텀 stage 를 GUI 목록·설정폼·소스열람에 배선
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/StageEditor.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
Due: lint-web-ui

docs: 네이버 지오코딩 폴백 사양 + 커스텀 stage GUI 노출 작업 지시
  docs/work/커스텀-stage-GUI-노출.md
  docs/공중화장실-지오코딩-실패케이스.md
Due: none

fix(web-ui): 실사용 stage 편집기(StageSection)에 커스텀 stage 배선
  web-ui/src/components/PipelineEditor/StageSection.tsx
  web-ui/src/types/pipeline.ts
Due: lint-web-ui

feat(deploy): control-plane 저장소 DB 를 영속 appdb 로 분리 (mock 소스/타깃과 분리)
  deploy/helm/conduix/templates/appdb.yaml
  deploy/helm/conduix/templates/mocks.yaml
  deploy/helm/conduix/values-e2e.yaml
  deploy/helm/conduix/values.yaml
Due: none

fix(batch): 배치 실행 상태 정합성 버그 4종 — "Job 완주했는데 status=error" 해소
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_partition.go
  control-plane/internal/api/handlers/workflow_status_guard_test.go
  control-plane/internal/api/routes.go
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/values-e2e.yaml
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
Due: lint-control-plane

fix(geocode): 주소 정규화 순서 버그로 지오코딩 커버리지 60%→회복
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none

feat(geocode): CDC 재지오코딩 게이트 + 네이버(NCP) 폴백
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none

fix(cdc): mysqldump 없는 컨테이너에서 MySQL CDC 가 안 뜨는 버그
  pipeline-core/pkg/source/cdc.go
Due: lint-pipeline-core

fix(geocode): 무변경 레코드는 드롭 — CDC 좌표 되돌림 race 차단
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none

chore(deploy): 서비스 CP 빌드 메모리 상향 + agent 파이프라인 secret 배선
  deploy/helm/conduix/values.yaml
Due: none

fix(deploy): native 커스텀 stage 빌드 타임아웃 상향(5m→20m)
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/values.yaml
Due: none

fix: 라이브 모니터링 404 + realtime streaming deployment AlreadyExists
  control-plane/internal/api/handlers/workflow.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
Due: lint-control-plane

fix(monitoring): 위임 실행 라이브 모니터링 pull 경로 완성
  control-plane/internal/api/handlers/workflow.go
  pipeline-batch-job/internal/health/server.go
  pipeline-batch-job/internal/health/server_test.go
  pipeline-batch-job/internal/runner/runner.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui, lint-control-plane

fix(k8s): 실행 pod 이미지 pull 정책 기본값을 Always 로
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
  shared/types/job.go
Due: none

fix(builder): runner 소스 해시에 pipeline-batch-job 누락 수정
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
Due: lint-control-plane

fix(web-ui): 라이브 모니터링이 UI 에 표시되지 않던 버그 3종
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

fix(cdc): 체크포인트 파티션 키 고정 + RecordCount 를 실제 레코드 수로
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_test.go
Due: lint-pipeline-core

feat(web-ui): /history·/schedules 페이지 구현
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/History.tsx
  web-ui/src/pages/Schedules.tsx
  web-ui/src/services/api.ts
  web-ui/src/types/execution.ts
Due: lint-web-ui

refactor: runner 바이너리 파일명을 상수로 일원화
  control-plane/internal/builder/runner_builder.go
  pipeline-worker/internal/k8s/job_manager.go
  shared/types/job.go
Due: lint-control-plane

refactor!: pipeline-batch-job → pipeline-runner 리네이밍
  .github/workflows/ci.yml
  Makefile
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
  control-plane/internal/services/runner_resolver.go
  control-plane/pkg/models/models.go
  deploy/docker/Dockerfile.control-plane
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/rbac.yaml
  deploy/helm/conduix/values-e2e.yaml
  deploy/helm/conduix/values.yaml
  docs/ARCHITECTURE.md
  docs/EXECUTION_TOPOLOGY_INTENT.md
  docs/LOCAL_E2E_ENV_PLAN.md
  docs/PLUGIN_ARCHITECTURE_V4.md
  docs/REMAINING_WORK_CHECKLIST.md
  docs/adr/0003-plugin-architecture-evolution.md
  docs/plans/TODO.md
  pipeline-runner/Dockerfile
  pipeline-runner/Makefile
  pipeline-runner/cmd/runner/main.go
  pipeline-runner/go.mod
  pipeline-runner/go.sum
  pipeline-runner/internal/checkpoint/manager.go
  pipeline-runner/internal/config/loader.go
  pipeline-runner/internal/config/loader_test.go
  pipeline-runner/internal/config/partition_test.go
  pipeline-runner/internal/health/server.go
  pipeline-runner/internal/health/server_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  plugin-sdk/native_stage.go
  shared/types/job.go
Due: lint-control-plane

fix(ci): test-go 매트릭스에 pipeline-runner 추가
  .github/workflows/ci.yml
Due: none

feat(web-ui): 사용자에게 보이는 'plugin' 용어를 'Stage' 로 변경
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
Due: none

docs: plugin → stage 용어 변경 계획 (A 완료, C/D 미착수)
  docs/work/plugin-to-stage-용어변경-계획.md
Due: none

fix: CREATE TABLE 이 CDC 를 깨우던 문제 + 지오코딩 사전판정 누락 2종
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
  pipeline-core/pkg/output/sql.go
  pipeline-core/pkg/output/sql_create_table_test.go
Due: lint-pipeline-core

fix(geocode): 네이버 폴백에 지번주소 후보 전달 + 동 중심점 거부
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none

fix(geocode): 지하상가 주소가 사전판정에 걸리던 문제
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none

feat(geocode): 시설명 폴백 + 보정주소 컬럼 + 시도명 오타 자동 보정
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none

fix(geocode): 시설명 폴백에 읍/면/동 검증 추가
  deploy/e2e/plugins/geocode_kakao/stage.go
  deploy/e2e/plugins/geocode_kakao/stage_test.go
Due: none
