Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lint-web-ui:
  run: cd web-ui && npm run lint

lint-control-plane:
  run: cd control-plane && golangci-lint run --fix

lint-pipeline-agent:
  run: cd pipeline-agent && golangci-lint run --fix

lint-pipeline-core:
  run: cd pipeline-core && golangci-lint run --fix

docs: README 상단에 30초 요약 추가 (en/ko)
  README.ko.md
  README.md
Due: none

docs: README 본문 Bento 서술 사실 정정 (en/ko)
  README.ko.md
  README.md
Due: none

fix(ci): test-web Node 18→22 (Vite 8 요구) + 문서 정정
  .github/workflows/ci.yml
  CLAUDE.md
  README.ko.md
  README.md
Due: none

fix(cdc): 이벤트 drop 대신 backpressure로 유실 방지
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_backpressure_test.go
Due: lint-pipeline-core

feat(cdc): 처리 성공 기반 offset 커밋 + GTID 체크포인트
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_checkpoint_test.go
Due: lint-pipeline-core

feat(cdc): 스키마 변경(DDL) 추적
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_ddl_test.go
Due: lint-pipeline-core

docs(adr): ADR-0004 CDC Debezium-parity 로드맵 + 안전성 완료 반영
  docs/COMPARISON.md
  docs/adr/0004-cdc-debezium-parity.md
  docs/adr/README.md
Due: none

docs: ADR와 작업계획 분리 (CDC 0004)
  docs/COMPARISON.md
  docs/README.md
  docs/adr/0004-cdc-debezium-parity.md
  docs/adr/0004-cdc-safety.md
  docs/adr/README.md
  docs/plans/cdc-roadmap.md
Due: none

docs: CDC #2 정정 — '초기 스냅샷' 오류를 실제 gap(경계 조율)으로
  docs/adr/0004-cdc-safety.md
  docs/adr/README.md
  docs/plans/cdc-roadmap.md
Due: none

docs: CDC 로드맵에 정확성(B) 단계 + gap #6~#8 추가
  docs/COMPARISON.md
  docs/adr/0004-cdc-safety.md
  docs/plans/cdc-roadmap.md
Due: none

docs: CDC 로드맵 재작성 — 추측 폐기, 코드 확인된 gap 만
  docs/COMPARISON.md
  docs/adr/0004-cdc-safety.md
  docs/plans/cdc-roadmap.md
Due: none

feat(cdc): SQL 싱크가 CDC delete 를 타깃에 반영 (roadmap #1)
  pipeline-core/pkg/output/sql.go
  pipeline-core/pkg/output/sql_cdc_delete_test.go
  pipeline-core/pkg/source/cdc.go
Due: lint-pipeline-core

feat(cdc): canal 연결 끊김 시 지수 백오프 재연결 (roadmap #2)
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_reconnect_test.go
Due: lint-pipeline-core

fix(cdc): 바이너리 컬럼(BLOB) []byte 유지 (roadmap #3)
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_rowmap_test.go
Due: lint-pipeline-core

feat(cdc): CDC 시작 position/GTID config (roadmap #4)
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_startpos_test.go
Due: lint-pipeline-core

feat(cdc): PostgreSQL 논리복제 CDC (roadmap #5)
  control-plane/go.mod
  control-plane/go.sum
  docs/plans/cdc-roadmap.md
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_postgres.go
  pipeline-core/pkg/source/cdc_postgres_test.go
  pipeline-core/pkg/source/cdc_reconnect_test.go
  pipeline-core/pkg/source/cdc_test.go
  pipeline-worker/go.mod
  pipeline-worker/go.sum
Due: lint-pipeline-core

feat(cdc): CDC 중복 실행 방지 - claim 갱신/상실 시 정지 (roadmap #6)
  docs/plans/cdc-roadmap.md
  pipeline-worker/go.mod
  pipeline-worker/go.sum
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/claim_test.go
Due: none

chore(batch-job): go.sum sync for transitive pgx/pglogrepl deps
  pipeline-batch-job/go.mod
  pipeline-batch-job/go.sum
Due: none

fix(cdc): 실환경 CDC 검증으로 드러난 결함 3종 수정
  pipeline-core/pkg/output/sql.go
  pipeline-core/pkg/source/cdc.go
  pipeline-worker/internal/agent/agent.go
Due: lint-pipeline-core

test(cdc): 실 MySQL/PostgreSQL CDC 통합 테스트 (build tag: cdcintegration)
  pipeline-core/pkg/cdce2e/cdc_e2e_test.go
  pipeline-core/pkg/cdce2e/cdc_pg_e2e_test.go
  pipeline-core/pkg/source/cdc_mysql_integration_test.go
Due: lint-pipeline-core

docs(cdc): 실환경 e2e 검증 결과 + 발견 결함 기록
  docs/plans/cdc-roadmap.md
Due: none

ci: CDC 통합 테스트 job 추가 (실 MySQL binlog + PostgreSQL logical)
  .github/workflows/ci.yml
Due: none

docs(readme): CDC 로드맵·검증 결과 반영 (MySQL+PostgreSQL 네이티브 CDC)
  README.ko.md
  README.md
Due: none

docs: bulk(vs Spark/Flink)·realtime(vs Debezium/Flink) 비교 문서 추가
  docs/BULK_VS_REALTIME_COMPARISON.md
  docs/COMPARISON.md
Due: none

docs: partition 다중 노드 분산 실행 설계안 + bulk 문서 정정
  docs/BULK_VS_REALTIME_COMPARISON.md
  docs/plans/partition-distributed-execution.md
Due: none

docs(plans): realtime 개선 계획 — 관심사 경계 준수로 재정의
  docs/plans/realtime-improvements.md
Due: none

feat(source): Kafka at-least-once — sink flush 기반 ack 커밋 (R4a)
  docs/plans/atleastonce-ack.md
  pipeline-core/pkg/source/kafka.go
  pipeline-core/pkg/source/kafka_atleastonce_integration_test.go
  pipeline-core/pkg/source/source.go
Due: lint-pipeline-core

feat(sink): position 버전 가드 upsert — 초기적재+CDC 동시실행 수렴 (R1 핵심)
  docs/plans/realtime-improvements.md
  pipeline-core/pkg/cdce2e/version_guard_e2e_test.go
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/output/sql.go
Due: lint-pipeline-core

docs(plans): 진행 상태 체크박스 추가 (realtime/bulk)
  docs/plans/partition-distributed-execution.md
  docs/plans/realtime-improvements.md
Due: none

feat(executor): realtime flush→Ack 배선 — 파이프라인 at-least-once (R4a 완료)
  docs/plans/realtime-improvements.md
  pipeline-core/pkg/cdce2e/kafka_pipeline_atleastonce_test.go
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

feat(cdc): ack 기반 커밋 전환 — 유실 창 제거 (Kafka 와 동일 원리)
  docs/plans/realtime-improvements.md
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_ack_test.go
Due: lint-pipeline-core

feat(cdc): DDL 안전 정지 — 스키마 변경 감지 시 파이프라인 정지 (R3-A)
  pipeline-core/pkg/cdce2e/ddl_guard_e2e_test.go
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

feat(executor): DDL 재개 게이트 — 샘플 dry-run validation (R3-B, R3 완료)
  docs/plans/realtime-improvements.md
  pipeline-core/pkg/executor/validate.go
  pipeline-core/pkg/executor/validate_test.go
Due: lint-pipeline-core

feat(cdc): 레코드에 단조 position(_pos) 부착 — R1 완료
  docs/plans/realtime-improvements.md
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_monotonicpos_test.go
Due: lint-pipeline-core

feat(executor): partition 분산 실행 - executor 파티션 필터 (bulk 1~2단계)
  docs/plans/partition-distributed-execution.md
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/executor/partition_assign_test.go
  shared/types/agent.go
Due: lint-pipeline-core

feat(control-plane): partition 분산 실행 - 분할기+취합기 (bulk 3단계)
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_partition.go
  control-plane/internal/api/handlers/workflow_partition_test.go
  control-plane/pkg/models/models.go
  docs/plans/partition-distributed-execution.md
Due: lint-control-plane

docs+fix: R2 폐기(사용법 커버) + worker realtime 파티션 배선 정정
  docs/plans/partition-distributed-execution.md
  docs/plans/realtime-improvements.md
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_monotonicpos_test.go
  pipeline-worker/internal/agent/agent.go
Due: lint-pipeline-core

feat(bulk): batch Job 파티션 분산 전달 (bulk 4단계)
  docs/plans/partition-distributed-execution.md
  pipeline-batch-job/internal/config/loader.go
  pipeline-batch-job/internal/config/partition_test.go
  pipeline-batch-job/internal/runner/runner.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
Due: none

docs(plans): R4 코드 확인 결과 이미 충족으로 정정 + 상태 요약 갱신
  docs/plans/realtime-improvements.md
Due: none

feat(bulk): sub-execution 고아 감지 시 부모 취합 진행 (bulk 5단계)
  control-plane/internal/services/scheduler_service.go
  docs/plans/partition-distributed-execution.md
Due: lint-control-plane

Path conditions:
  lint-web-ui: any of: web-ui/**/*.{ts,tsx}
  lint-control-plane: any of: control-plane/**/*.go
  lint-pipeline-agent: any of: pipeline-agent/**/*.go
  lint-pipeline-core: any of: pipeline-core/**/*.go
