Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-web-ui:
      glob: "web-ui/**/*.{ts,tsx}"
      run: cd web-ui && npm run lint
    lint-control-plane:
      glob: "control-plane/**/*.go"
      run: cd control-plane && golangci-lint run --fix
    lint-pipeline-agent:
      glob: "pipeline-agent/**/*.go"
      run: cd pipeline-agent && golangci-lint run --fix
    lint-pipeline-core:
      glob: "pipeline-core/**/*.go"
      run: cd pipeline-core && golangci-lint run --fix

pre-push:
  commands:
    build-web-ui:
      run: cd web-ui && npm run build

feat(observability): Prometheus metrics + structured pipeline logs
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/routes.go
  pipeline-agent/api/handlers.go
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/executor/group_executor.go
  shared/go.mod
  shared/go.sum
  shared/metrics/metrics.go
  shared/metrics/metrics_test.go
Due: lint-control-plane, lint-pipeline-agent, lint-pipeline-core

feat(pipeline-core): failure circuit breaker + DLQ for pipeline execution
  docs/REMAINING_WORK_CHECKLIST.md
  pipeline-core/pkg/executor/failure_guard.go
  pipeline-core/pkg/executor/failure_guard_test.go
  pipeline-core/pkg/executor/group_executor.go
  shared/metrics/metrics.go
  shared/types/hierarchy.go
Due: lint-pipeline-core

feat(control-plane): detect orphaned executions (claim reassignment)
  control-plane/internal/services/scheduler_service.go
  control-plane/internal/services/stale_execution_test.go
  docs/REMAINING_WORK_CHECKLIST.md
Due: lint-control-plane

feat(resilience): retry backoff+jitter and executeGroup panic recovery
  docs/REMAINING_WORK_CHECKLIST.md
  pipeline-agent/internal/agent/agent.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/executor/retry_test.go
Due: lint-pipeline-agent, lint-pipeline-core

feat(web-ui): workflow YAML import dialog on the list page
  docs/REMAINING_WORK_CHECKLIST.md
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Workflows.tsx
Due: lint-web-ui

fix(pipeline-core): reject unsupported CDC drivers at construction
  docs/REMAINING_WORK_CHECKLIST.md
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_test.go
Due: lint-pipeline-core

test(pipeline-core): infra-free e2e for workflow execution
  docs/REMAINING_WORK_CHECKLIST.md
  pipeline-core/pkg/executor/e2e_test.go
Due: lint-pipeline-core

feat(agent): configurable execution timeout
  docs/REMAINING_WORK_CHECKLIST.md
  pipeline-agent/internal/agent/agent.go
Due: lint-pipeline-agent

refactor(pipeline-core): remove dead PipelineRunner type
  docs/PIPELINE_LINKING.md
  docs/archive/MULTI_CLUSTER_IMPLEMENTATION_PROGRESS.md
  docs/archive/OPERATOR_CONTROL_RESTORE_PLAN.md
  docs/archive/PHASE2_WORK_PLAN.md
  docs/archive/PHASE3_WORK_PLAN.md
  docs/archive/PLUGIN_ARCHITECTURE_PLAN_V2.md
  docs/archive/PLUGIN_ARCHITECTURE_V3.md
  docs/archive/PLUGIN_DEVELOPMENT_GUIDE.md
  docs/archive/PLUGIN_V3_WORK_PLAN.md
  docs/archive/REMAINING_WORK_PLAN.md
  docs/archive/WORK_PLAN_NATIVE_STAGE_EDITOR.md
  docs/archive/WORK_PLAN_SCRIPT_GOJA_STAGES.md
  docs/archive/WORK_PROGRESS.md
  docs/archive/WORK_PROGRESS_PHASE2.md
  docs/archive/WORK_PROGRESS_PHASE3.md
  docs/archive/WORK_PROGRESS_PHASE4.md
  docs/archive/WORK_PROGRESS_PHASE5.md
  docs/archive/WORK_PROGRESS_PHASE6.md
  docs/archive/WORK_PROGRESS_PLUGIN_GUI_CLEANUP.md
  docs/archive/technical-design-review.md
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

docs: separate completed/obsolete docs into archive/, add index
  docs/PLUGIN_ARCHITECTURE_V4.md
  docs/README.md
  docs/archive/OPERATOR_CONTROL_RESTORE_PLAN.md
Due: none

docs: add ARCHITECTURE.md summary, archive V2-based E2E scenarios
  docs/ARCHITECTURE.md
  docs/README.md
  docs/archive/E2E_TEST_SCENARIOS.md
Due: none

feat(control-plane): seed sample pipelines with runnable custom stages
  control-plane/cmd/server/main.go
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/seed/seed.go
  control-plane/internal/seed/seed_stages_test.go
  docs/ARCHITECTURE.md
  docs/REMAINING_WORK_CHECKLIST.md
Due: lint-control-plane

docs: archive point-in-time snapshot docs (extension plan, stage status)
  docs/README.md
  docs/archive/PIPELINE_EXTENSION_PLAN.md
  docs/archive/STAGE_IMPLEMENTATION_STATUS.md
Due: none

docs: add architecture diagrams (module deps, exec flow, process types)
  docs/ARCHITECTURE.md
Due: none

docs: clarify hybrid agent↔control-plane communication
  docs/ARCHITECTURE.md
Due: none

refactor(worker): remove dead DeploymentManager and leader election
  docs/EXECUTION_TOPOLOGY_INTENT.md
  pipeline-worker/go.mod
  pipeline-worker/internal/k8s/deployment_manager.go
  pipeline-worker/internal/k8s/deployment_manager_test.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/leader/election.go
Due: none

refactor: remove vestigial leader-election fields and dead code
  control-plane/pkg/models/models.go
  pipeline-core/pkg/output/gcs.go
  pipeline-core/pkg/output/s3.go
  pipeline-worker/internal/controlplane/client.go
  pipeline-worker/internal/controlplane/client_test.go
  pipeline-worker/internal/monitor/resource_monitor.go
  pipeline-worker/internal/monitor/resource_monitor_test.go
  shared/constants/constants.go
  web-ui/src/types/plugin.ts
Due: lint-web-ui, lint-control-plane, lint-pipeline-core

docs: add local K8s e2e test env plan
  docs/LOCAL_E2E_ENV_PLAN.md
Due: none

fix(control-plane): 워크플로우 수동 트리거 실행 경로 3종 버그 수정
  control-plane/internal/api/handlers/agent.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/services/execution_cluster.go
  control-plane/internal/services/execution_cluster_test.go
  control-plane/internal/services/scheduler_service.go
Due: lint-control-plane

perf(runtime): K8s cgroup limit 인식 (automaxprocs/automemlimit)
  control-plane/cmd/server/main.go
  control-plane/go.mod
  control-plane/go.sum
  pipeline-batch-job/cmd/runner/main.go
  pipeline-batch-job/go.mod
  pipeline-batch-job/go.sum
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/go.mod
  pipeline-worker/go.sum
Due: lint-control-plane

fix(build): 이미지 빌드 3종 수정
  deploy/docker/Dockerfile.web-ui
  deploy/helm/conduix/templates/migration-job.yaml
  pipeline-batch-job/Dockerfile
Due: none

feat(e2e): 로컬 K8s 통합 테스트 환경 (mock 소스/싱크)
  Makefile
  control-plane/internal/seed/seed.go
  control-plane/internal/seed/seed_endpoints_test.go
  deploy/e2e/verify.sh
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/templates/mocks.yaml
  deploy/helm/conduix/values-e2e.yaml
  deploy/helm/conduix/values.yaml
Due: lint-control-plane

docs: E2E 환경 구축·검증 완료 반영 및 발견 버그 기록
  docs/LOCAL_E2E_ENV_PLAN.md
Due: none

refactor(logging): 공통 slog 초기화 + 서버 3종 진입점 전환
  control-plane/cmd/server/main.go
  pipeline-batch-job/cmd/runner/main.go
  pipeline-worker/cmd/agent/main.go
  shared/logging/logging.go
  shared/logging/logging_test.go
Due: lint-control-plane

refactor(control-plane): 내부 패키지 로깅 fmt → slog
  control-plane/internal/api/handlers/auth.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/services/redis_service.go
  control-plane/internal/services/scheduler_service.go
  control-plane/pkg/database/migrate.go
Due: lint-control-plane

refactor(pipeline-worker): agent 로깅 fmt → slog
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/batch_runner.go
Due: none

refactor(pipeline-batch-job): 내부 로깅 fmt → slog
  pipeline-batch-job/internal/checkpoint/manager.go
  pipeline-batch-job/internal/health/server.go
  pipeline-batch-job/internal/runner/runner.go
Due: none

refactor(pipeline-core): executor/stream/source 로깅 fmt → slog
  pipeline-core/pkg/checkpoint/client.go
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/source/kafka.go
  pipeline-core/pkg/source/kubernetes.go
  pipeline-core/pkg/source/mqtt.go
  pipeline-core/pkg/source/partitioned_http.go
  pipeline-core/pkg/source/partitioned_sql.go
  pipeline-core/pkg/source/pubsub.go
  pipeline-core/pkg/source/rabbitmq.go
  pipeline-core/pkg/source/sql.go
  pipeline-core/pkg/source/sql_event.go
  pipeline-core/pkg/source/sqs.go
  pipeline-core/pkg/source/sse.go
  pipeline-core/pkg/source/websocket.go
  pipeline-core/pkg/stream/parquet_writer.go
  pipeline-core/pkg/stream/sink.go
  pipeline-core/pkg/stream/snowflake_sink.go
  pipeline-core/pkg/stream/stream_join_stage.go
  pipeline-core/pkg/stream/windowed_aggregate_stage.go
  shared/redis/resilient_client.go
Due: lint-pipeline-core

docs: slog 전면 전환 완료 반영
  docs/REMAINING_WORK_CHECKLIST.md
Due: none

chore: gitignore에 Go 빌드 바이너리 추가 + control-plane/server 추적 해제
  .gitignore
  control-plane/server
Due: none

fix(control-plane): pipeline-links 조회 API를 내부 그룹으로 이동 (401 해소)
  control-plane/internal/api/routes.go
  control-plane/internal/api/routes_test.go
Due: lint-control-plane

fix(docker): control-plane CMD에서 --migrate 제거 (서버 기동 회귀 수정)
  deploy/docker/Dockerfile.control-plane
Due: none

test(e2e): Kafka → MySQL realtime 검증 스크립트 + orders_cdc 스키마 수정
  deploy/e2e/verify-realtime.sh
  deploy/helm/conduix/templates/mocks.yaml
Due: none

fix(pipeline-core): 종료 시 SQL 싱크 버퍼 유실 방지
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/output/sql.go
Due: lint-pipeline-core

fix(pipeline-core): kafka 파싱 실패 메시지 처리 정책(on_parse_error)
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/kafka.go
  pipeline-core/pkg/source/kafka_test.go
Due: lint-pipeline-core

docs: 경쟁 도구 대비 선택 가이드(COMPARISON.md) 추가
  docs/COMPARISON.md
  docs/README.md
Due: none

docs(adr): 주요 아키텍처 결정 기록 도입 (Bento/Actor/플러그인)
  docs/README.md
  docs/adr/0001-bento-adoption.md
  docs/adr/0002-remove-actor-engine.md
  docs/adr/0003-plugin-architecture-evolution.md
  docs/adr/README.md
Due: none
