Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-web-ui:
      glob: "web-ui/**/*.{ts,tsx}"
      run: cd web-ui && npm run lint
    lint-control-plane:
      glob: "control-plane/**/*.go"
      run: cd control-plane && golangci-lint run --fix
    lint-pipeline-agent:
      glob: "pipeline-agent/**/*.go"
      run: cd pipeline-agent && golangci-lint run --fix
    lint-pipeline-core:
      glob: "pipeline-core/**/*.go"
      run: cd pipeline-core && golangci-lint run --fix

pre-push:
  commands:
    build-web-ui:
      run: cd web-ui && npm run build

docs: add Plugin Architecture V4 design (2-tier Script + Native)
  docs/PLUGIN_ARCHITECTURE_V4.md
Due: none

perf(ci): revert to sequential Go tests for better cache utilization
  .github/workflows/ci.yml
Due: none

fix(ci): restore original cache-dependency-path and test flags
  .github/workflows/ci.yml
Due: none

perf(ci): build amd64 only and cache node_modules directly
  .github/workflows/ci.yml
Due: none

perf(ci): build amd64 only, cache node_modules, unify arch to x86_64
  CLAUDE.md
Due: none

docs: update README with latest input/stage/output types and Go 1.26
  README.md
Due: none

docs: add build cache optimization section to Plugin Architecture V4
  docs/PLUGIN_ARCHITECTURE_V4.md
Due: none

perf(docker): add .dockerignore to minimize build context
  .dockerignore
Due: none

perf(ci): parallelize Go tests with matrix strategy and optimize npm caching
  .github/workflows/ci.yml
Due: none

feat(plugin): add Script Stage (Starlark) and test-script API
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_handler_test.go
  control-plane/internal/api/routes.go
  docs/WORK_PROGRESS.md
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/stream/script_stage.go
  pipeline-core/pkg/stream/script_stage_test.go
  pipeline-core/pkg/stream/stage.go
  pipeline-core/pkg/stream/stage_registry.go
Due: lint-control-plane, lint-pipeline-core

fix(ci): revert GHCR auth to CR_PAT for org package write permission
  .github/workflows/ci.yml
Due: none

fix(ci): switch GHCR auth back to GITHUB_TOKEN
  .github/workflows/ci.yml
Due: none

docs: add script stage to README stage types
  README.md
Due: none

feat(plugin): add Script Stage editor with Monaco and test UI
  docs/WORK_PROGRESS.md
  pipeline-core/pkg/stream/script_stage.go
  pipeline-core/pkg/stream/script_stage_test.go
  pipeline-core/pkg/stream/stage_registry.go
  web-ui/src/components/ScriptStageEditor/ScriptStageEditor.tsx
  web-ui/src/components/StageSchemaForm/StageSchemaForm.tsx
  web-ui/src/services/pluginApi.ts
Due: lint-web-ui, lint-pipeline-core

feat(plugin): add RunnerVersion model, NativeStage interface, and runner resolver
  control-plane/internal/api/handlers/runner_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/runner_resolver.go
  control-plane/internal/services/runner_resolver_test.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/models.go
  docs/WORK_PROGRESS_PHASE2.md
  pipeline-core/pkg/stream/native_stage_adapter.go
  pipeline-core/pkg/stream/native_stage_adapter_test.go
  pipeline-core/pkg/stream/stage.go
  plugin-sdk/native_stage.go
Due: lint-control-plane, lint-pipeline-core

feat(plugin): add RunnerBuilder for native stage compilation and image build
  control-plane/internal/api/handlers/runner_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
  control-plane/pkg/models/models.go
  docs/WORK_PROGRESS_PHASE3.md
Due: lint-control-plane

feat(web-ui): add Runner status panel and V4 plugin types to Plugins page
  docs/WORK_PROGRESS.md
  docs/WORK_PROGRESS_PHASE4.md
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
Due: lint-web-ui

feat(plugin): add stage revision history, build tracking, and per-pipeline execution policy
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/runner_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/revision_service.go
  control-plane/internal/services/revision_service_test.go
  control-plane/internal/services/runner_resolver.go
  control-plane/internal/services/runner_resolver_test.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/compress.go
  control-plane/pkg/models/compress_test.go
  control-plane/pkg/models/models.go
  docs/WORK_PROGRESS.md
  docs/WORK_PROGRESS_PHASE5.md
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
Due: lint-web-ui, lint-control-plane

style: apply linter formatting fixes
  control-plane/internal/services/runner_resolver.go
  control-plane/pkg/models/models.go
Due: lint-control-plane

refactor(plugin): remove HashiCorp go-plugin gRPC system, keep NativeStage only
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/builder/builder.go
  control-plane/internal/builder/builder_test.go
  control-plane/internal/builder/runner_builder_test.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/models.go
  docs/WORK_PROGRESS_PHASE6.md
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/stream/plugin_stage.go
  pipeline-core/pkg/stream/plugin_stage_test.go
  pipeline-core/pkg/stream/stage.go
  plugin-sdk/example/main.go
  plugin-sdk/go.mod
  plugin-sdk/go.sum
  plugin-sdk/grpc_client.go
  plugin-sdk/grpc_server.go
  plugin-sdk/proto/plugin/v1/plugin.pb.go
  plugin-sdk/proto/plugin/v1/plugin_grpc.pb.go
  plugin-sdk/sdk.go
  plugin-sdk/sdk_test.go
  proto/plugin/v1/plugin.proto
Due: lint-control-plane, lint-pipeline-core

fix(docker): remove plugin-sdk/go.sum from Dockerfile COPY
  deploy/docker/Dockerfile.agent
  deploy/docker/Dockerfile.control-plane
Due: none

refactor(plugin): remove V3 image-based plugin UI, clean up for V4
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/pkg/models/models.go
  docs/WORK_PROGRESS_PLUGIN_GUI_CLEANUP.md
  web-ui/src/App.tsx
  web-ui/src/components/DynamicStageForm.tsx
  web-ui/src/pages/PluginBuilder.tsx
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
Due: lint-web-ui, lint-control-plane

feat(stream): add hash_sha1 builtin function to ScriptStage
  pipeline-core/pkg/stream/script_stage.go
Due: lint-pipeline-core

feat(stream): replace Starlark with JavaScript(goja), add 10 Go native stages
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_handler_test.go
  docs/WORK_PLAN_SCRIPT_GOJA_STAGES.md
  pipeline-core/go.mod
  pipeline-core/go.sum
  pipeline-core/pkg/stream/base64_stage.go
  pipeline-core/pkg/stream/base64_stage_test.go
  pipeline-core/pkg/stream/cast_stage.go
  pipeline-core/pkg/stream/cast_stage_test.go
  pipeline-core/pkg/stream/dedupe_stage.go
  pipeline-core/pkg/stream/dedupe_stage_test.go
  pipeline-core/pkg/stream/default_stage.go
  pipeline-core/pkg/stream/default_stage_test.go
  pipeline-core/pkg/stream/drop_stage.go
  pipeline-core/pkg/stream/drop_stage_test.go
  pipeline-core/pkg/stream/encrypt_stage.go
  pipeline-core/pkg/stream/encrypt_stage_test.go
  pipeline-core/pkg/stream/js_script_stage.go
  pipeline-core/pkg/stream/js_script_stage_test.go
  pipeline-core/pkg/stream/merge_stage.go
  pipeline-core/pkg/stream/merge_stage_test.go
  pipeline-core/pkg/stream/script_stage.go
  pipeline-core/pkg/stream/script_stage_test.go
  pipeline-core/pkg/stream/split_stage.go
  pipeline-core/pkg/stream/split_stage_test.go
  pipeline-core/pkg/stream/stage.go
  pipeline-core/pkg/stream/stage_registry.go
  pipeline-core/pkg/stream/throttle_stage.go
  pipeline-core/pkg/stream/throttle_stage_test.go
  pipeline-core/pkg/stream/timestamp_stage.go
  pipeline-core/pkg/stream/timestamp_stage_test.go
  web-ui/src/components/JSScriptStageEditor/JSScriptStageEditor.tsx
  web-ui/src/components/StageSchemaForm/StageSchemaForm.tsx
Due: lint-web-ui, lint-control-plane, lint-pipeline-core

ci: add arm64 parallel build and multi-arch manifest merge
  .github/workflows/ci.yml
Due: none

fix(deps): update pipeline-agent go.sum for goja dependency
  pipeline-agent/go.mod
  pipeline-agent/go.sum
  pipeline-core/pkg/stream/dedupe_stage.go
Due: lint-pipeline-core

refactor(plugins): remove V2/V3 runner/build UI, keep V4 stage registry only
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
Due: lint-web-ui

chore(i18n): remove unused Container Image translation keys
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
Due: none

feat(control-plane): add native stage editor phases 2-4
  control-plane/Makefile
  control-plane/go.mod
  control-plane/go.sum
  control-plane/internal/api/handlers/lsp_handler.go
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_security.go
  control-plane/internal/api/handlers/plugin_security_test.go
  control-plane/internal/api/routes.go
  control-plane/internal/lsp/proxy.go
  control-plane/internal/lsp/workspace_manager.go
  control-plane/pkg/models/models.go
  deploy/docker/Dockerfile.control-plane
  docker-compose.yml
  docs/WORK_PLAN_NATIVE_STAGE_EDITOR.md
  web-ui/src/components/JSScriptStageEditor/JSScriptStageEditor.tsx
  web-ui/src/components/NativeStageEditor/NativeStageEditor.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/lspClient.ts
  web-ui/src/services/pluginApi.ts
  web-ui/src/types/plugin.ts
  web-ui/vite.config.ts
Due: lint-web-ui, lint-control-plane

fix(web-ui): generate struct name from plugin name in native stage editor
  web-ui/src/components/NativeStageEditor/NativeStageEditor.tsx
Due: lint-web-ui

refactor(plugin): remove PluginStage table and None mode
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_handler_test.go
  control-plane/internal/api/handlers/stage_handler.go
  control-plane/internal/api/routes.go
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/services/runner_resolver.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/models.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Plugins.tsx
  web-ui/src/types/plugin.ts
Due: lint-web-ui, lint-control-plane

fix(pipeline-runner): add missing plugin-sdk replace directive
  pipeline-runner/go.mod
  pipeline-runner/go.sum
Due: none

fix(control-plane): harden CORS, OAuth redirect, type assertions, pagination
  control-plane/internal/api/handlers/auth.go
  control-plane/internal/api/handlers/pipeline.go
  control-plane/internal/api/middleware/auth.go
  control-plane/internal/api/middleware/auth_test.go
  docs/OPERATOR_CONTROL_RESTORE_PLAN.md
Due: lint-control-plane

fix(pipeline-core): implement Redis dedup and make it configurable
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/dedup/dedup.go
  pipeline-core/pkg/pipeline/pipeline.go
Due: lint-pipeline-core

refactor(pipeline-core): remove dead actor execution engine
  pipeline-core/pkg/actor/actor.go
  pipeline-core/pkg/actor/actor_test.go
  pipeline-core/pkg/actor/factory.go
  pipeline-core/pkg/actor/mailbox.go
  pipeline-core/pkg/actor/mailbox_test.go
  pipeline-core/pkg/actor/supervisor.go
  pipeline-core/pkg/actor/system.go
  pipeline-core/pkg/actor/types/bento_sink.go
  pipeline-core/pkg/actor/types/bento_source.go
  pipeline-core/pkg/actor/types/bento_transform.go
  pipeline-core/pkg/actor/types/init.go
  pipeline-core/pkg/actor/types/router.go
  pipeline-core/pkg/actor/types/sink.go
  pipeline-core/pkg/actor/types/source.go
  pipeline-core/pkg/actor/types/transform.go
  pipeline-core/pkg/pipeline/runner.go
  pipeline-core/pkg/stream/pipeline_actor.go
Due: lint-pipeline-core

feat(agent): workflow-level control, exec claim, drop individual-pipeline REST
  control-plane/internal/services/redis_service.go
  pipeline-agent/api/handlers.go
  pipeline-agent/internal/agent/agent.go
  pipeline-agent/internal/agent/agent_test.go
  shared/redis/resilient_client.go
  shared/types/agent.go
Due: lint-control-plane, lint-pipeline-agent

feat(control-plane): workflow YAML export/import (templates) + control wiring
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_yaml.go
  control-plane/internal/api/handlers/workflow_yaml_test.go
  control-plane/internal/api/routes.go
Due: lint-control-plane

feat(pipeline-core): run all stages in workflows, add pause gate & retry
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/executor/pause_test.go
  pipeline-core/pkg/executor/prestages_test.go
  pipeline-core/pkg/executor/retry_test.go
  pipeline-core/pkg/executor/stream_bridge_test.go
  pipeline-core/pkg/stream/throttle_stage.go
  pipeline-core/pkg/stream/throttle_stage_test.go
Due: lint-pipeline-core

feat(web-ui): pause/resume controls, per-pipeline throughput, YAML api
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/services/api.ts
Due: lint-web-ui

feat(web-ui): workflow YAML export and clone buttons
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui
