Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lint-web-ui:
  run: cd web-ui && npm run lint

lint-control-plane:
  run: cd control-plane && golangci-lint run --fix

lint-pipeline-agent:
  run: cd pipeline-agent && golangci-lint run --fix

lint-pipeline-core:
  run: cd pipeline-core && golangci-lint run --fix

feat(ui): 세트 표시 개선 + 설정/해제 수단 + 상세 화면 노출
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/pages/workflowSet.test.ts
  web-ui/src/services/api.ts
  web-ui/src/utils/workflowSet.test.ts
  web-ui/src/utils/workflowSet.ts
Due: lint-web-ui

feat(ui): 세트 표시 개선 + 설정/해제 수단 + 상세 화면 노출 (#36)
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/ProjectDetail.tsx
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/pages/workflowSet.test.ts
  web-ui/src/services/api.ts
  web-ui/src/utils/workflowSet.test.ts
  web-ui/src/utils/workflowSet.ts
Due: lint-web-ui

fix(ui): UI 로 설정한 세트가 화면에 안 뜨던 문제
  web-ui/src/utils/workflowSet.test.ts
  web-ui/src/utils/workflowSet.ts
Due: lint-web-ui

fix(cdc): 구독하지 않는 테이블의 DDL 에 파이프라인이 정지하던 문제
  pipeline-core/pkg/source/cdc.go
  pipeline-core/pkg/source/cdc_ddl_scope.go
  pipeline-core/pkg/source/cdc_ddl_scope_test.go
  pipeline-core/pkg/source/cdc_ddl_test.go
Due: lint-pipeline-core

fix(runner): realtime 실행이 죽어도 파드가 살아남고 UI 에 아무것도 안 보이던 문제
  pipeline-runner/internal/health/server_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-runner/internal/runner/streaming_result.go
  pipeline-runner/internal/runner/streaming_result_test.go
Due: none

fix(ui): 실행이 실패해도 모니터링 화면에 이유가 안 보이던 문제
  pipeline-core/pkg/executor/group_executor.go
  pipeline-core/pkg/executor/monitoring_error_test.go
  pipeline-runner/internal/runner/streaming_result.go
  shared/types/monitoring.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/pages/monitoringError.test.ts
Due: lint-web-ui, lint-pipeline-core

fix: 원인을 알면서 에러만 던지던 실행 차단 5종을 자동 처리로 전환
  control-plane/internal/api/handlers/cluster.go
  control-plane/internal/api/handlers/cluster_default_test.go
  control-plane/internal/api/handlers/execution_claim.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_partition.go
  control-plane/internal/api/handlers/workflow_start.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/autobuild.go
  control-plane/internal/services/autobuild_test.go
  control-plane/internal/services/execution_readiness.go
  control-plane/internal/services/execution_readiness_test.go
  control-plane/internal/services/scheduler_service.go
  control-plane/internal/services/stale_unclaimed.go
  control-plane/pkg/models/models.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/claim_report.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
  web-ui/src/pages/Workflows.tsx
  web-ui/src/pages/errorSurfacing.test.ts
Due: lint-web-ui, lint-control-plane

fix: 실동작 검증에서 드러난 자동 실행 결함 2종
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_start.go
  control-plane/internal/services/autobuild.go
  control-plane/internal/services/autobuild_test.go
  control-plane/internal/services/execution_readiness.go
  control-plane/internal/services/execution_readiness_test.go
  control-plane/internal/services/scheduler_service.go
Due: lint-control-plane

fix(agent): 위임 접수 보고가 404 로 조용히 유실되던 문제
  pipeline-worker/internal/agent/claim_report.go
  pipeline-worker/internal/agent/claim_report_test.go
Due: none

fix(seed): 워크플로 이름 접두어를 WorkflowType 값과 일치시킴
  control-plane/internal/seed/seed.go
  docs/work/환경분리와-파이프라인-정의-Git화.md
Due: lint-control-plane

docs: 실행 이력에 러너 버전/이미지가 안 남는 문제 작업 지시
  docs/work/실행이력-러너버전-표시.md
Due: none

docs: 작업 지시 정정 — 진짜 문제는 낡은 바이너리로 도는 것
  docs/work/실행이력-러너버전-표시.md
Due: none

docs: latest 를 실행에서 배제하는 것으로 확정 + 실물 증거 추가
  docs/work/실행이력-러너버전-표시.md
Due: none

fix(runner): 커스텀 stage 유무와 무관하게 항상 빌드된 바이너리로 실행
  control-plane/internal/services/runner_resolver.go
  control-plane/internal/services/runner_resolver_db_test.go
Due: lint-control-plane

docs: 사용처 파이프라인은 conduix 가 아니라 그 프로젝트가 소유
  docs/work/환경분리와-파이프라인-정의-Git화.md
Due: none

chore: gopls 진단을 lint 파이프라인에 추가하고 지적 사항 수정
  .github/workflows/ci.yml
  .golangci.yml
  .goplsignore
  Makefile
  control-plane/internal/services/redis_service.go
  pipeline-core/pkg/output/bigquery.go
  pipeline-core/pkg/output/gcs.go
  pipeline-core/pkg/secrets/gcp_provider.go
  pipeline-core/pkg/source/pubsub.go
  pipeline-runner/internal/config/loader_test.go
  pipeline-runner/internal/health/server_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-runner/internal/runner/stats_reporter_test.go
  pipeline-worker/internal/agent/agent.go
  shared/redis/resilient_client.go
  shared/types/api.go
  shared/types/contract.go
  shared/types/contract_test.go
  shared/types/hierarchy.go
  shared/types/stage_schema.go
  shared/types/statistics.go
Due: lint-control-plane, lint-pipeline-core

feat(catalog): 외부 데이터 연동 카탈로그 테이블 추가
  deploy/sql/data_sources.sql
  deploy/sql/data_sources_add_example.sql
  deploy/sql/data_sources_query.sql
Due: none

feat(catalog): 페이지네이션 설정 컬럼 추가
  deploy/sql/data_sources.sql
  deploy/sql/data_sources_add_example.sql
Due: none

refactor(realtime): 실행마다 뜨던 파드를 cluster 당 상주 파드 1개로 통합
  control-plane/internal/api/handlers/streaming_pod_status.go
  control-plane/internal/api/routes.go
  docs/ARCHITECTURE.md
  pipeline-runner/internal/health/server.go
  pipeline-runner/internal/health/server_multiexec_test.go
  pipeline-runner/internal/health/server_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-runner/internal/runner/streaming_registry.go
  pipeline-runner/internal/runner/streaming_registry_test.go
  pipeline-runner/internal/runner/streaming_supervisor.go
  pipeline-runner/internal/runner/streaming_watch.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/sweep_test.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
  pipeline-worker/internal/k8s/streaming_pod.go
  web-ui/src/App.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Executions.tsx
Due: lint-web-ui, lint-control-plane

refactor(realtime): 실행마다 뜨던 파드를 cluster 당 상주 파드 1개로 통합 (#45)
  control-plane/internal/api/handlers/streaming_pod_status.go
  control-plane/internal/api/routes.go
  docs/ARCHITECTURE.md
  pipeline-runner/internal/health/server.go
  pipeline-runner/internal/health/server_multiexec_test.go
  pipeline-runner/internal/health/server_test.go
  pipeline-runner/internal/runner/runner.go
  pipeline-runner/internal/runner/streaming_registry.go
  pipeline-runner/internal/runner/streaming_registry_test.go
  pipeline-runner/internal/runner/streaming_supervisor.go
  pipeline-runner/internal/runner/streaming_watch.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/agent/sweep_test.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
  pipeline-worker/internal/k8s/streaming_pod.go
  web-ui/src/App.tsx
  web-ui/src/components/Layout/MainLayout.tsx
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/Executions.tsx
Due: lint-web-ui, lint-control-plane

fix(realtime): 상주 파드가 WORKFLOW_ID 없이 못 떠 CrashLoopBackOff 되던 문제
  pipeline-runner/internal/config/loader.go
  pipeline-runner/internal/config/loader_test.go
  pipeline-runner/internal/runner/streaming_result.go
Due: none

fix(realtime): 상주 파드가 WORKFLOW_ID 없이 못 떠 CrashLoopBackOff 되던 문제 (#47)
  pipeline-runner/internal/config/loader.go
  pipeline-runner/internal/config/loader_test.go
  pipeline-runner/internal/runner/streaming_result.go
Due: none

docs(readme): 실행 모델 그림을 실제 구조로 최신화
  README.md
Due: none

docs(readme): 실행 모델 그림을 실제 구조로 최신화 (#48)
  README.md
Due: none

fix(realtime): 모니터링이 보고하는 실행 id 가 제어용 id 와 달라 stop 무한루프
  pipeline-runner/internal/runner/streaming_registry.go
  pipeline-runner/internal/runner/streaming_registry_test.go
Due: none

fix(realtime): 모니터링이 보고하는 실행 id 가 제어용 id 와 달라 stop 무한루프 (#49)
  pipeline-runner/internal/runner/streaming_registry.go
  pipeline-runner/internal/runner/streaming_registry_test.go
Due: none

fix(web-ui): /executions 가 실행이 있어도 늘 비어 보이던 문제
  web-ui/src/pages/Executions.tsx
  web-ui/src/pages/executionList.test.ts
Due: lint-web-ui

fix(web-ui): /executions 가 실행이 있어도 늘 비어 보이던 문제 (#50)
  web-ui/src/pages/Executions.tsx
  web-ui/src/pages/executionList.test.ts
Due: lint-web-ui

fix(realtime): 처리량이 있어도 Records 가 항상 0 으로 보이던 문제
  pipeline-runner/internal/runner/streaming_records_test.go
  pipeline-runner/internal/runner/streaming_supervisor.go
Due: none

fix(realtime): 처리량이 있어도 Records 가 항상 0 으로 보이던 문제 (#51)
  pipeline-runner/internal/runner/streaming_records_test.go
  pipeline-runner/internal/runner/streaming_supervisor.go
Due: none

feat(source): CSV 응답과 cp949 인코딩 지원 — 공공데이터 파일 배포본 수집
  .gitignore
  deploy/sql/restrooms_csv_enrichment.sql
  deploy/sql/restrooms_open_hours.sql
  deploy/sql/restrooms_open_now.sql
  docs/pipelines/restroom-csv-enrich.yaml
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/csv_encoding_test.go
  pipeline-core/pkg/source/file.go
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/source/http_csv_verify_test.go
  plugins/normalize_open_hours/cmd/backfill/main.go
  plugins/normalize_open_hours/go.mod
  plugins/normalize_open_hours/go.sum
  plugins/normalize_open_hours/stage.go
  plugins/normalize_open_hours/stage_test.go
  tools/restroom_csv_enrich/go.mod
  tools/restroom_csv_enrich/go.sum
  tools/restroom_csv_enrich/main.go
Due: lint-pipeline-core

feat(source): CSV 응답과 cp949 인코딩 지원 — 공공데이터 파일 배포본 수집 (#52)
  .gitignore
  deploy/sql/restrooms_csv_enrichment.sql
  deploy/sql/restrooms_open_hours.sql
  deploy/sql/restrooms_open_now.sql
  docs/pipelines/restroom-csv-enrich.yaml
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/source/csv_encoding_test.go
  pipeline-core/pkg/source/file.go
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/source/http_csv_verify_test.go
  plugins/normalize_open_hours/cmd/backfill/main.go
  plugins/normalize_open_hours/go.mod
  plugins/normalize_open_hours/go.sum
  plugins/normalize_open_hours/stage.go
  plugins/normalize_open_hours/stage_test.go
  tools/restroom_csv_enrich/go.mod
  tools/restroom_csv_enrich/go.sum
  tools/restroom_csv_enrich/main.go
Due: lint-pipeline-core

fix(pipeline): execution_mode 가 runner 에 전달되지 않아 DAG 의존성이 죽어 있던 문제
  pipeline-runner/internal/config/loader.go
  pipeline-runner/internal/config/loader_test.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
Due: none

fix(pipeline): execution_mode 가 runner 에 전달되지 않아 DAG 의존성이 죽어 있던 문제 (#53)
  pipeline-runner/internal/config/loader.go
  pipeline-runner/internal/config/loader_test.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
Due: none

docs: 파이프라인 연결 가이드 추가 — depends_on / priority / link 구분
  README.md
  docs/PIPELINE_ORCHESTRATION.md
Due: none

docs: 파이프라인 연결 가이드 영문판 추가 — README 와 같은 이중 언어 방식
  README.ko.md
  docs/PIPELINE_ORCHESTRATION.ko.md
  docs/PIPELINE_ORCHESTRATION.md
Due: none

fix(source): URL·헤더의 ${VAR} 도 해소 — API 키를 설정에 평문으로 두지 않도록
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/source/http_envvar_test.go
Due: lint-pipeline-core

fix(source): URL·헤더의 ${VAR} 도 해소 — API 키를 설정에 평문으로 두지 않도록 (#55)
  pipeline-core/pkg/source/http.go
  pipeline-core/pkg/source/http_envvar_test.go
Due: lint-pipeline-core

docs: 커스텀 stage 의존성 버전 충돌 문제 정리
  README.ko.md
  README.md
  docs/CUSTOM_STAGE_DEPENDENCY_CONFLICT.ko.md
  docs/CUSTOM_STAGE_DEPENDENCY_CONFLICT.md
Due: none

docs: 의존성 충돌 문서를 한국어 단일본으로, README 링크 제거
  README.ko.md
  README.md
  docs/CUSTOM_STAGE_DEPENDENCY_CONFLICT.ko.md
  docs/CUSTOM_STAGE_DEPENDENCY_CONFLICT.md
Due: none

Path conditions:
  lint-web-ui: any of: web-ui/**/*.{ts,tsx}
  lint-control-plane: any of: control-plane/**/*.go
  lint-pipeline-agent: any of: pipeline-agent/**/*.go
  lint-pipeline-core: any of: pipeline-core/**/*.go
