Repository conduix/conduix: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web-ui, lint-control-plane, lint-pipeline-agent, lint-pipeline-core

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-web-ui:
      glob: "web-ui/**/*.{ts,tsx}"
      run: cd web-ui && npm run lint
    lint-control-plane:
      glob: "control-plane/**/*.go"
      run: cd control-plane && golangci-lint run --fix
    lint-pipeline-agent:
      glob: "pipeline-agent/**/*.go"
      run: cd pipeline-agent && golangci-lint run --fix
    lint-pipeline-core:
      glob: "pipeline-core/**/*.go"
      run: cd pipeline-core && golangci-lint run --fix

pre-push:
  commands:
    build-web-ui:
      run: cd web-ui && npm run build

docs(plans): R3b 표현 정정 — "JSON DDL 허용" 틀린 표현, on_ddl=allow 는 R3 에 이미 포함
  docs/plans/realtime-improvements.md
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

feat(kafka-sink): key 파티셔닝 옵션 — 분산 셔플을 워크플로우로 가능하게
  pipeline-core/pkg/config/v2_config.go
  pipeline-core/pkg/output/kafka.go
  pipeline-core/pkg/output/kafka_shuffle_integration_test.go
Due: lint-pipeline-core

docs(plans): 뒤죽박죽 계획 5개 삭제 → 단일 TODO.md 로 정리
  docs/plans/TODO.md
  docs/plans/atleastonce-ack.md
  docs/plans/cdc-roadmap.md
  docs/plans/partition-distributed-execution.md
  docs/plans/realtime-improvements.md
Due: none

feat(observability): sub-execution 별 실행 agent 기록·노출
  pipeline-batch-job/internal/config/loader.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  shared/types/agent.go
  shared/types/job.go
  web-ui/src/i18n/locales/en.json
  web-ui/src/i18n/locales/ko.json
  web-ui/src/pages/WorkflowDetail.tsx
Due: lint-web-ui

fix(bulk): batch runner 파티션 필터 누락 — 분산 무효화·데이터 중복
  pipeline-batch-job/internal/runner/runner.go
Due: none

fix(bulk): handleJobResult 부모 취합 누락 — 부모 영구 갇힘
  control-plane/internal/api/handlers/workflow.go
Due: lint-control-plane

fix(scheduler): batch execution stale 오판 — 정상 Job 을 error 확정
  control-plane/internal/services/scheduler_service.go
Due: lint-control-plane

docs(plans): TODO 1(bulk 파티션 분산 e2e) 완료 — 검증 결과·발견 버그 3종 기록
  docs/plans/TODO.md
Due: none

feat(assignment): partition sub-execution 부하 분산 배정 전략 옵션화
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_partition.go
  control-plane/internal/services/assignment/broadcast.go
  control-plane/internal/services/assignment/load_aware.go
  control-plane/internal/services/assignment/round_robin.go
  control-plane/internal/services/assignment/strategy.go
  control-plane/internal/services/assignment/strategy_test.go
  deploy/helm/conduix/templates/agent-deployment.yaml
  deploy/helm/conduix/templates/configmaps.yaml
  deploy/helm/conduix/values-e2e.yaml
  pipeline-worker/internal/agent/agent.go
  shared/types/agent.go
Due: lint-control-plane

docs(plans): TODO 2(부하 균형) 완료 — 배정 전략 옵션화·e2e 검증
  docs/plans/TODO.md
Due: none

ci: pipeline-batch-job 이미지 빌드·push 추가
  .github/workflows/ci.yml
Due: none

feat(native-plugin): native compile-in stage e2e 실동작 완성 + 빌드 경로 버그 8종 수정
  Makefile
  control-plane/internal/api/handlers/runner_handler.go
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_partition.go
  control-plane/internal/api/routes.go
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
  control-plane/internal/services/runner_resolver.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/models.go
  deploy/docker/Dockerfile.control-plane
  deploy/helm/conduix/values-e2e.yaml
  docs/plans/NATIVE_PLUGIN_WIP.md
  pipeline-core/pkg/executor/group_executor.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  shared/types/agent.go
Due: lint-control-plane, lint-pipeline-core

fix(builder): 고아 go build 프로세스 그룹 kill — 동시 빌드 교착·캐시 오염 해소
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
Due: lint-control-plane

feat(dependency-registry): custom stage 외부 의존성 충돌 원천 제거 (D1/D3/D5)
  control-plane/internal/api/handlers/module_handler.go
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/stage_import_validation.go
  control-plane/internal/api/handlers/stage_import_validation_test.go
  control-plane/internal/api/routes.go
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/runner_builder_test.go
  control-plane/pkg/database/database.go
  control-plane/pkg/models/models.go
  docs/plans/CUSTOM_STAGE_DEPENDENCY_REGISTRY.md
Due: lint-control-plane

feat(dependency-registry): D2 web-ui 의존성 선택 UI + gopls 외부모듈 자동완성
  control-plane/internal/api/handlers/lsp_handler.go
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/stage_import_validation.go
  control-plane/internal/api/routes.go
  control-plane/internal/lsp/workspace_manager.go
  control-plane/pkg/models/models.go
  web-ui/src/components/NativeStageEditor/NativeStageEditor.tsx
  web-ui/src/pages/Plugins.tsx
  web-ui/src/services/moduleApi.ts
Due: lint-web-ui, lint-control-plane

fix(plugin-test): 인-에디터 테스트에 러너 main 주입 — uuid stage 빌드+실행 성공
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/stage_import_validation.go
Due: lint-control-plane

fix(builder): 연속 저장 시 deployed_hash 미갱신 → 자동 재빌드로 수렴
  control-plane/internal/builder/runner_builder.go
Due: lint-control-plane

feat(realtime): native stage 를 위한 전용 streaming pod (A안 W1~W5)
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/routes.go
  control-plane/internal/services/redis_service.go
  deploy/helm/conduix/templates/rbac.yaml
  docs/plans/REALTIME_STREAMING_POD.md
  pipeline-batch-job/internal/health/server.go
  pipeline-batch-job/internal/runner/runner.go
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
  shared/types/agent.go
Due: lint-control-plane

fix(checkpoint): streaming pod checkpoint 로드 401 — 내부 무인증 GET 경로 추가
  control-plane/internal/api/routes.go
  pipeline-core/pkg/checkpoint/client.go
Due: lint-control-plane, lint-pipeline-core

fix(checkpoint): flush 페이로드에 WorkflowID 누락 — 서버 400
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

docs(plans): realtime streaming pod — 데이터플로우·무손실 재개 검증 + ckpt 수정 2종 기록
  docs/plans/REALTIME_STREAMING_POD.md
Due: none

chore(helm): agent 기본 replica 3→2 (cluster 당 오케스트레이터 HA)
  deploy/helm/conduix/values.yaml
Due: none

feat(reliability): pub/sub 유실 명령 reconcile 백스톱
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_reconcile_test.go
  control-plane/internal/api/routes.go
  pipeline-worker/cmd/agent/main.go
  pipeline-worker/internal/agent/agent.go
Due: lint-control-plane

fix(reconcile): agent 조회 URL 경로 오류(/internal/ 접두어 제거)
  control-plane/internal/api/handlers/workflow.go
  pipeline-worker/internal/agent/agent.go
Due: lint-control-plane

fix(reconcile): streaming 복구를 K8s 실제 상태로 판정 (로컬 추적 과신 제거)
  pipeline-worker/internal/agent/agent.go
  pipeline-worker/internal/k8s/job_manager.go
  pipeline-worker/internal/k8s/job_manager_test.go
Due: none

docs(scheduler): streaming exec 을 stale 에서 제외 안 하는 이유 명시
  control-plane/internal/services/scheduler_service.go
Due: lint-control-plane

chore(reconcile-test): gofmt struct tag 정렬
  control-plane/internal/api/handlers/workflow_reconcile_test.go
Due: lint-control-plane

docs(comparison): bulk 분산 셔플 한계 설명 정교화 (spill-to-disk 는 개선 가능)
  docs/BULK_VS_REALTIME_COMPARISON.md
Due: none

fix(executor): record 모드 realtime 에 시간 기반 flush 추가 — 부분배치 미적재 해소
  pipeline-core/pkg/executor/group_executor.go
Due: lint-pipeline-core

fix(kafka-source): consumer group 토픽 늦은 생성 시 0-partition 영구 무소비 해소
  pipeline-core/pkg/source/kafka.go
Due: lint-pipeline-core

fix(workflow): AddPipeline/RemovePipeline 도 running workflow 거부 (일관성)
  control-plane/internal/api/handlers/workflow.go
  control-plane/internal/api/handlers/workflow_running_guard_test.go
Due: lint-control-plane

fix(builder): 부팅 시 좀비 building 레코드 즉시 회수
  control-plane/internal/builder/runner_builder.go
  control-plane/internal/builder/startup_reclaim_test.go
Due: lint-control-plane

docs(plans): 멀티클러스터 e2e 계획·실행결과 (R1~R7 검증, 버그 5종 수정)
  docs/plans/MULTI_CLUSTER_E2E_PLAN.md
Due: none

fix(plugin): CreatePlugin 이 source_code/type 를 저장하도록 (web-ui 신규 커스텀 stage)
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/plugin_handler_test.go
Due: lint-control-plane

docs(plans): e2e 보완 — 커스텀 stage 2종(native/js_script) + 작성→빌드→반영 라이프사이클 + BUG#8
  docs/plans/MULTI_CLUSTER_E2E_PLAN.md
Due: none

fix(plugin): test-native 를 실제 RunnerBuilder 와 동일 빌드 계약으로 통일
  control-plane/internal/api/handlers/plugin_handler.go
  control-plane/internal/api/handlers/stage_import_validation.go
Due: lint-control-plane

fix(builder): NewRunnerBuilder 가 mock/미연결 DB 에서 panic — CI 회귀 수정
  control-plane/internal/builder/runner_builder.go
Due: lint-control-plane

chore(lefthook): pre-push 게이트에 Go 테스트 추가 (5개 모듈)
  lefthook.yml
Due: none

docs: 최신화 + 완료 계획 아카이브 정리
  docs/ARCHITECTURE.md
  docs/EXECUTION_TOPOLOGY_INTENT.md
  docs/README.md
  docs/archive/CUSTOM_STAGE_DEPENDENCY_REGISTRY.md
  docs/archive/MULTI_CLUSTER_E2E_PLAN.md
  docs/archive/NATIVE_PLUGIN_WIP.md
  docs/archive/REALTIME_STREAMING_POD.md
  docs/standalone-usage.md
Due: none

fix(ci): CDC MySQL/PG 대기 로직이 초기화 임시 서버를 ready 로 오판 — TCP+인증 쿼리로 판정
  .github/workflows/ci.yml
Due: none
